<?php
$id = $this->getBlockId();
$clss="col-md-2";

if($id=="footer_links"){
    $clss = "col-md-3";
}elseif($id=="footer_impressum"){
    $clss="col-md-5";
}
$block = Mage::getModel('cms/block')->load($id);
?>
<div class="footer-block <?php echo $clss?>" >
<div class="title"><?php echo $block->getTitle()?></div>
<div class="content"><?php echo $block->getContent()?></div>
</div>
