/*
Description: Stylesheet for: MySQL Search & Replace Tool
Version: 0.1
Author: Eric Amundson
Author URI: http://sewmyheadon.com/
Last Update: November 5, 2009
License: This code is released under the GPL - please see the included license.txt file for more information.
*/
 
/*	General Styles
============================================================================ */
* {
	margin: 0;
	padding: 0;
}

html{
	margin-bottom: 1px;
	min-height: 100%;
}

body{
	background: #000000;
	color: #00cc00;
	font: 62.5% "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#wrap {
	margin: 0 auto;
	width: 500px;
}

h1 {
	font: normal 2.8em Georgia,
             "New Century Schoolbook",
             "Nimbus Roman No9 L",
             serif;
	letter-spacing: -1px;
	margin: 1em 0 0;
}

p{
	color: #dddddd;
	font-size: 1.3em;
	margin: 1em 0.2em;
}

a{
	color: #ffa500;
}

.group:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/*	Form Sections
============================================================================ */
div.form {
	background: #ffffff;
	border: 5px solid;
	border-color: #cccccc #999999 #999999 #cccccc;
	border-radius: 10px;
	margin: 1em auto;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.form form {
	margin: 1em auto;
	width: 430px;
}

/* Fieldset  */
.form fieldset {
	border: 1px solid;
	border-color: #dddddd #ffffff #ffffff;
	clear: both;
	margin: 1em 0 2em;
}

fieldset div {
	margin: 0 1em;
}

fieldset div.oneField {
	margin-bottom: 1em;
}

fieldset div div {
	margin: 0;
}

.form legend {
	background: #ffffff;
	color: #000000;
	font-size: 1.8em;
	font-weight: bold;
	margin: 0 0 0.5em;
}

/*	Field Labels
============================================================================ */
/* Base */
.form label, .form form .label {
	color: #007a00;
	font-size: 1.8em;
}

.form label.radio {
	font-size: 1.6em;
	margin-right: 1em;
}

/* Text inputs / Select label */
.form label.preField {
	display: block;
	font-weight: bold;
}

/* Label when inside an inline section */
.form .inlineSection .oneField .inlineLabel {
	font-weight: bold;
}

/* Inputs
============================================================================ */
.form input[type=text] {
	border: 3px solid #cccccc;
}

.form select {
	border: 3px solid #555555;
}

.form textarea:hover,
.form input[type=text]:hover {
	background: #dddddd;
	border-color: #00cc00;
}

/* Buttons
=========================================================================== */
.form form .actions {
	background: #cccccc;
	padding: 2px;
	text-align: right;
}

/* Submit button */
.form form .primaryAction {
	font-weight: bold;
}

/* Cancel button */
.form form .secondaryAction {
	color: #999999;
}

.form form .secondaryAction:hover {
	color: #000000;
}

/* Form Related Rules
=========================================================================== */
.form form .reqMark {
	color: #cc0033;
	font-size: 0.8em;
}

/* Field w/ a validation error */
.form form .errFld {
	border: 1px solid #ff0000;
	padding: 3px;
}

.form div.errFld {
	background: transparent !important;
}

.form span.errFld {
	background: transparent !important;
}

/* Styling for message associated with a validation error. */
.form form .errMsg {
	color: #cc3333 !important;
	display: block;
}

/* Field-Hint with focus */
.form form .field-hint {
	color: #cccccc;
}

/* Field-Hint without focus */
.form form .field-hint-inactive {
	color: #666666;
	font-size: 1.2em;
}

/* Repeat Behavior divs (when not set on a fieldset) */
.form form div.repeat {
	background: #383838;
	border-bottom: 1px solid #666666;
	border-top: 1px solid #666666;
	padding-bottom: 3px;
}

.form form div.removeable {
	background: #444444;
	border-bottom: 1px solid #666666;
	padding-bottom: 3px;
}

/* Links generated by the Repeat Behavior */
.form form .duplicateLink {
	color: #b06a48;
	font-weight: bold;
}

.form form .removeLink {
	color: #cc3300;
}

/* Paging behavior buttons */
.form form .wfPagingButtons {
	background: #333333;
	border: 1px solid #555555;
	padding: 2px;
}

/* Site Info
=========================================================================== */
#site_info {
	color: #dddddd;
	margin: 1em;
}

#site_info li {
	display: inline;
	float: left;
	list-style-type: none;
}

#site_info li.last {
	float: right;
}

#site_info a {
	text-decoration: none;
}