<?php

$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$stock = Mage::getModel('cataloginventory/stock_item');

if($_productCollection->count()): ?>
<div class="container-fluid">
<div class="flexslider">
<ul class="slides container">
<?php foreach ($_productCollection as $_product): 
$name = $_product->getData('name');
$sku = $_product->getData('sku');
$qty = number_format($stock->loadByProduct($_product)->getQty(),0,'','');


    if($_product->getTypeId()=="configurable"){

        $children  = Mage::getModel('catalog/product_type_configurable')->getUsedProducts(null,$_product);
//        Zend_Debug::dump($children);
        foreach($children as $child){

//            print_r($stock->loadByProduct($child)->getQty()."<br />");

            $qty += $stock->loadByProduct($child)->getQty();
        }
    }
?>
<li>
    <div class="row">
        <div class="details col-md-4">
            <div class="more">
                <div class="row">
                <a class="button more-link" href="<?php echo $_product->getProductUrl()?>"><?php echo $this->__("View Details")?></a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row product-name"><?php echo $name; ?></div>
            <div class="row"><?php echo $this->getPriceHtml($_product) ?></div>
            <div class="row"><?php echo $this->__('Still available')?>: <?php echo $qty; ?></div>
            <div class="row"><?php echo $this->__('Product nr.')?>: <?php echo $sku; ?></div>


            <div class="swatch">
                <?php
                // Provides extra blocks on which to hang some features for products in the list
                // Features providing UI elements targeting this block will display directly below the product name
                if ($this->getChild('product.list.name.after')) {
                    $_nameAfterChildren = $this->getChild('product.list.name.after')->getSortedChildren();
                    foreach ($_nameAfterChildren as $_nameAfterChildName) {
                        $_nameAfterChild = $this->getChild('product.list.name.after')->getChild($_nameAfterChildName);
                        $_nameAfterChild->setProduct($_product);
                        echo $_nameAfterChild->toHtml();
                    }
                }
                ?>
            </div>
        </div>
       <div class="image col-md-8 text-right">
           <?php $product = Mage::getModel('catalog/product')->load($_product->getId()); ?>
           <a href="<?php echo $_product->getProductUrl()?>"><img src="<?php echo Mage::getModel('catalog/product_media_config')->getMediaUrl( $product->getImage() )?>" alt="<?php $name?>"/>
        </a>
       </div>

    </div>
</li>
<?php endforeach;?>
</ul>
</div>
</div>
	<?php 
endif;