<?php $newsletterObj = new Sandipan_Unsubscribe_Block_Unsubscribeoverride(); ?> 
<div class="newsletter-unsubscribe">
    <h3><?php echo $this->__('Unsubscribe newsletter')?></h3>
	<div class="newsletter-unsubscribe-title"><?php echo $this->__('Unsubscribe from our newsletter') ?></div>
    <form action="<?php echo $newsletterObj->getUnsubscribeFormActionUrl() ?>" method="post" name="unsubscribe-newsletter-validate" id="unsubscribe-newsletter-validate">
    	<div class="block-content">
        	<div class="input-box">
            	<input placeholder="<?php echo $this->__('Email')?>" type="text" name="email" id="newsletter" title="<?php echo $this->__('Unsubscribe newsletter') ?>" class="input-text required-entry validate-email" />
            </div>
            <div class="actions">
                <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
            </div>
        </div>
    </form>
    
    <script type="text/javascript" language="javascript">
	//<![CDATA[
	var newsletterSubscriberFormDetail = new VarienForm("unsubscribe-newsletter-validate");
	//]]>
    </script>
</div>