.container {
	max-width:1170px;
	width:96%
}
@media screen and (max-width:1260px) {
	.center-width,
	.header,
	.footer .container,
	.copyright-inner { max-width:96% }
	.cover-image { height:400px }
	.content-page, .content-single { width:100% }
	#commentform .comment-form-author, #commentform .comment-form-email, #commentform .comment-form-url { margin-bottom:15px; width:80% }
	#commentform textarea { width:90% }
	#subscribe-widget input[type="text"] {
		margin-bottom:10px;
		width:99%
	}
}
@media screen and (max-width:1110px) {
	.back-to-top { right:5px }
}
@media screen and (max-width:1024px) {
    .header-2 .logo-wrap, .header-3 .logo-wrap {
        float:none
    }
	.header-ad-widget,
    .header-3 .header-ad-widget {
        float:none;
		margin:0 auto 15px;
		max-width:100%;
		width:728px;
	}
    .header-3 .header { text-align:center }
	.cover-image { height:360px }
	.ad-125-widget li,
	.footer-widget { width:49% }
	.footer-columns-4 .footer-widget:nth-child(2) { margin-right:0 }
	.footer-columns-4 .footer-widget { width:48.5% }
	.footer-columns-4 .footer-widget:nth-child(3) { clear:left }
}
@media screen and (max-width:915px) {
    .post-grid,
    .ttlayout .post-grid,
    .post-grid:nth-child(2n+1),
    .post-grid:nth-child(2n+2),
    .altlayout .post-grid:nth-child(6n-3),
    .altlayout .post-grid:nth-child(6n),
	.altlayout .post-grid:nth-child(3n+1),
    .ttlayout .post-grid:nth-child(3n-1),
    .ttlayout .post-grid:nth-child(3n),
    .rclayout .post-grid:nth-child(3n),
    .rclayout .post-grid:nth-child(3n-1),
    .otlayout .post-grid:nth-child(4n),
    .otlayout .post-grid:nth-child(2n+2),
    .otlayout .post-grid:nth-child(4n-1),
    .mixlayout .post-grid:nth-child(4n+2),
    .mixlayout .post-grid:nth-child(4n),
    .mixlayout .post-grid:nth-child(4n-1),
    .related-posts .post-grid:nth-child(3n),
    .related-posts .post-grid:nth-child(3n+1),
    .related-posts .post-grid:nth-child(3n-1) {
        border-left:0;
        border-right:0;
        border-bottom:2px solid #fff;
        height:440px;
        width:100%
    }
}
@media screen and (max-width:768px) {
    .title {
        font-size:24px !important;
        line-height:34px !important
    }
    
    .side-nav {
        padding:30px 20px;
        width:270px
    }
    .openNav .menu-pusher {
        -ms-transform:translate3d(-310px, 0px, 0px);
        -webkit-transform:translate3d(-310px, 0px, 0px);
        transform:translate3d(-310px, 0px, 0px);
    }
	.main-wrapper { background:transparent }
	.header { text-align:center }
    .main-navigation,
    .header-2 .main-navigation { float:none }
    .menu {
        background:#fff;
        display:none;
        line-height:1;
        left:-2%;
        right:-2%;
        padding:10px 20px 10px;
        position:absolute;
        top:61px;
        z-index:1
    }
    .nav-menu-btn { display:block }
    .nav-menu ul li { display:block }
    .header-2 .nav-menu a { padding:8px 0 }
    .nav-menu .menu-item-has-children > a:after { display:none }
    .nav-menu .menu li:hover > ul { display: none }
	.side-sub-menu {
        display:block;
		cursor:pointer;
		position:absolute;
		top:0;
		right:0;
		height:44px;
		width:50px;
        z-index:99
	}
	.side-sub-menu .fa {
		color:#fff;
		font-size:22px;
		margin:10px 18px
	}
    .nav-menu .menu a { padding:6px 0 !important }
    .nav-menu ul { border-bottom:1px solid rgba(0, 0, 0, 0.08) }
    .main-nav .center-width { border:0 }
    .content-single,
    .content-page {
        /*box-sizing:padding-box;
        padding-left:20px;
        padding-right:20px;*/
        margin-left:auto;
        margin-right:auto;
        max-width:96%
    }
	.cover-image {
        background-size:auto;
        height:340px
    }
	.logo-wrap { float:none !important }
    .header-2 .logo-wrap { max-width:100% }
	.header-2 {
		overflow:visible;
		position:relative;
	}
	.paging-navigation { margin-bottom:0 }
	.title { font-size:26px; line-height:1.2 }
    .sclayout .content, .cslayout .content {
        float:none;
        margin-left:auto;
        margin-right:auto;
        width:100%
    }
	.sidebar {
		margin-left:0;
		margin-right:0;
		max-width:100%;
		width:100% !important
	}
	#sidebar { padding:0 2% }
	.footer-widgets .footer-widget {
		margin:0 0 20px;
		width:100%
	}
	.category-posts li, .recent-posts li, .random-posts li, .popular-posts li {
		float:left;
		margin-left:1%;
		margin-right:1%;
		width:48%
	}
	.footer-widgets { padding-top:30px }
}
@media screen and (max-width:620px) {
	.footer-subscribe form {
		display:block;
		margin:15px 0 0;
		width:100%;
	}
}
@media screen and (max-width:560px) {
	.category-posts li, .recent-posts li, .random-posts li, .popular-posts li {
		float:left;
		margin-left:0;
		margin-right:0;
		width:100%
	}
    .post-icons span { display:none }
}
@media screen and (max-width:480px) {
	.cover-heading .title {
		font-size:22px;
		line-height:26px
	}
	.menu-btn { margin-left:5px }
	.header-2 .menu-btn { margin-left:0 }
	.featured-thumbnail { width:100% }
	.content-area { float:left }
	.title {
		font-size:26px;
		line-height:32px
	}
	.post-meta .post-comments span { display:inline-block }
	.post-box {
		margin-left:20px;
		margin-right:20px;
	}
	.error-text {
		font-size:120px;
		line-height:140px;
		margin-bottom:0
	}
	.error-page-content { font-size:14px }
	.error-head span { padding:0 10px }
	.archive-col {
		margin:0 0 20px;
		width:100%
	}
	.post-navigation .post-nav-links { width:100% }
	.sidebar {
		margin-left:0;
		margin-right:0;
		max-width:100%;
		width:100%
	}
	.footer-widget {
		margin:0 0 20px;
		width:100%
	}
	#commentform textarea { width:92.5% }
	.copyright-text {
		margin-bottom:10px;
		text-align:center;
		width:100%
	}
}