body {
	direction:rtl;
}
.header-2 .logo-wrap,
.header-3 .logo-wrap { float:right }
.header-2 .main-navigation,
.menu-btn,
.header-search,
.header-3 .header-ad-widget { float:left }
.nav-menu ul { float:right }
#navigation .menu li:hover ul,
#navigation .menu li.sfHover ul { right:0 }
#navigation ul.menu li li:hover ul,
#navigation ul.menu li li.sfHover ul { right:180px }
#navigation ul.menu li { text-align:right }
.menu i {
	margin-left:5px;
	margin-right:0
}
.nav-menu .menu-item-has-children > a:after {
	right:auto;
	left:0
}
.nav-menu ul ul .menu-item-has-children > a:after {
    border-color:transparent rgba(0, 0, 0, 0.2) transparent transparent;
    left:5px;
    right:auto;
    top:17px
}
.nav-menu ul.menu li li:hover ul {
	left:auto;
	right:180px;
}
.btn {
	float:left;
	margin:10px 15px 10px 0 !important
}
.side-nav {
    left:-405px;
    right:auto
}
.openNav .side-nav {
    left:0;
    right:auto
}
.openNav .menu-pusher {
    transform:translate3d(400px, 0px, 0px)
}
.nav-menu-btn {
    float:right
}
.nav-menu-btn i {
    margin-left:5px;
    margin-right:0
}
header .searchform {
    left:250px;
    right:auto
}
.breadcrumbs i { display:inline }
.tagcloud a,
#commentform #submit,
.read-more a { float:right }
.reply,
.post-avtar,
.s { float:left }
.s { padding-left:0; padding-right:3% }
.post .post-content ul li:before, .content-page .post-content ul li:before {
	content:"\f137";
	left:auto;
	right:-18px
}
.post-format-link-content {
	margin-left:0;
	margin-right:62px;
}
.post-format-link .post-format-icon {
	margin-right:10px;
	margin-left:25px
}
.widget ul {
	direction:rtl;
}
.thumbnail {
    float:right;
    margin-left:10px;
    margin-right:0;
}
.author-social a { display: inline-block }
#respond { overflow:hidden }
.content-single li,
.content-page li {
	margin-left:0;
	margin-right:30px
}
.pagination span, .pagination a { margin:0 0 0 10px }
.author-box-avtar {
    float:right;
    margin-left:20px;
    margin-right:0;
}
#comments .avatar {
    float:right;
    margin-left:2%;
	margin-right:0
}
.meta, .r-meta {
    text-align:right!important
}
.meta .post-author, .meta .post-comments, .meta .widget-cats, .meta time {
    margin-left:10px;
    margin-right:0
}
.subscribe-icon .fa,
.share-icon .fa { margin:0 0 0 4px }
.cat-count { margin-left:10px }