			@font-face {
				font-family: 'rbno21a-bold';
				font-style: normal;
				src: url('//shop.kurzzug.de/wp-blog/wp-content/uploads/useanyfont/160531073420RBNo21a-Bold.eot');
				src: local('rbno21a-bold'), url('//shop.kurzzug.de/wp-blog/wp-content/uploads/useanyfont/160531073420RBNo21a-Bold.eot') format('embedded-opentype'), url('//shop.kurzzug.de/wp-blog/wp-content/uploads/useanyfont/160531073420RBNo21a-Bold.woff') format('woff');
			}
		