<div id="co-billing-form">
    <h3><?php echo $this->__('Name & Address')?></h3>
    <ul class="form-list list-unstyled">
    <?php if ($this->customerHasAddresses()): ?>
        <li class="fields">
            <label for="billing-address-select" class="notice"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
            <div class="input-box">
                <?php echo $this->getAddressesHtmlSelect('billing') ?>
            </div>
        </li>
    <?php endif; ?>
    <li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
        <fieldset>
            <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
            <ul class="list-unstyled">
                <li class="fields">
                    <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress()->getFirstname() ? $this->getAddress() : $this->getQuote()->getCustomer())->setForceUseCustomerRequiredAttributes(!$this->isCustomerLoggedIn())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                </li>
                <li class="fields">
                    <div class="field">
<!--                        <label for="billing:company">--><?php //echo $this->__('Company') ?><!--</label>-->
                        <div class="input-box">
                            <input type="text" id="billing:company" name="billing[company]" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text <?php echo $this->helper('opc')->getAttributeValidationClass('company') ?>" placeholder="<?php echo $this->__('Company') ?>" />
                        </div>
                    </div>


        <?php $_streetValidationClass = $this->helper('opc')->getAttributeValidationClass('street'); ?>

                    <div class="field">
<!--                    <label for="billing:street1" class="required"><em>*</em>--><?php //echo $this->__('Address') ?><!--</label>-->
                    <div class="input-box">
                        <input type="text" placeholder="<?php echo $this->__('Street Address') ?> "title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                    </div>
                        </div>
                </li>
        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
        <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                <li class="fields">
                    <div class="field">
                    <div class="input-box">
                        <input type="text" placeholder="<?php echo $this->__('Street Address %s', $_i) ?>" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="billing[street][]" id="billing:street<?php echo $_i ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                    </div>
                        </div>
                </li>
        <?php endfor; ?>
                <?php if ($this->helper('opc')->isVatAttributeVisible()) : ?>
                <li class="fields">
                    <div class="field">
<!--                    <label for="billing:vat_id">--><?php //echo $this->__('VAT Number') ?><!--</label>-->
                    <div class="input-box">
                        <input type="text" id="billing:vat_id" name="billing[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo $this->__('VAT Number') ?>" class="input-text <?php echo $this->helper('opc')->getAttributeValidationClass('vat_id') ?>" />
                    </div>
                        </div>
                </li>
                <?php endif; ?>
                <li class="fields">
                    <div class="field">
                        <!--                        <label for="billing:postcode" class="required"><em>*</em>--><?php //echo $this->__('Zip/Postal Code') ?><!--</label>-->
                        <div class="input-box">
                            <input type="text" placeholder="<?php echo $this->__('Zip/Postal Code') ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international <?php echo $this->helper('opc')->getAttributeValidationClass('postcode') ?>" />
                        </div>
                    </div>
                    <div class="field">
<!--                        <label for="billing:city" class="required"><em>*</em>--><?php //echo $this->__('City') ?><!--</label>-->
                        <div class="input-box">
                            <input type="text" placeholder="<?php echo $this->__('City') ?>" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>" class="input-text <?php echo $this->helper('opc')->getAttributeValidationClass('city') ?>" id="billing:city" />
                        </div>
                    </div>

                </li>
                <li class="fields">
                    <div class="field">
                        <!--                        <label for="billing:telephone" class="required"><em>*</em>--><?php //echo $this->__('Telephone') ?><!--</label>-->
                        <div class="input-box">
                            <input type="text" placeholder="<?php echo $this->__('Telephone') ?>" name="billing[telephone]" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text <?php echo $this->helper('opc')->getAttributeValidationClass('telephone') ?>" id="billing:telephone" />
                        </div>
                    </div>

                    <?php if(!$this->isCustomerLoggedIn()): ?>
                        <div class="field">
                            <!--                        <label for="billing:email" class="required"><em>*</em>--><?php //echo $this->__('Email Address') ?><!--</label>-->
                            <div class="input-box">
                                <input type="text" name="billing[email]" id="billing:email" value="<?php echo $this->escapeHtml($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" placeholder="<?php echo $this->__('Email Address') ?>"/>
                            </div>
                        </div>
                    <?php endif; ?>

                </li>
                <li class="fields">
                    <div class="field">
                        <!--                        <label for="billing:country_id" class="required"><em>*</em>--><?php //echo $this->__('Country') ?><!--</label>-->
                        <div class="input-box">
                            <?php echo $this->getCountryHtmlSelect('billing') ?>
                        </div>
                    </div>


<!--                    <div class="field">-->
                        <!--                        <label for="billing:region_id" class="required"><em>*</em>--><?php //echo $this->__('State/Province') ?><!--</label>-->
<!--                        <div class="input-box">-->
<!--                            <select id="billing:region_id" name="billing[region_id]" title="--><?php //echo $this->__('State/Province') ?><!--" class="validate-select" style="display:none;">-->
<!--                                <option value="">--><?php //echo $this->__('Please select region, state or province') ?><!--</option>-->
<!--                            </select>-->
                        <script type="text/javascript">
<!--                                //<![CDATA[-->
<!--                                $('billing:region_id').setAttribute('defaultValue',  "--><?php //echo $this->getAddress()->getRegionId() ?><!--");-->
                                    // ]]
                                jQuery(document).ready(function () {
                                    jQuery.noConflict();
                                    jQuery('.shipping-js').change(function () {
                                        var selectedValue = jQuery(this).val();

                                        if(selectedValue == 'CH' || selectedValue == 'AT'){
                                            jQuery('.shipping-fee-msg').show();
                                        } else{
                                            jQuery('.shipping-fee-msg').hide();
                                        }
                                    });
                                });
                           </script>
<!--                            //<input type="text" id="billing:region" name="billing[region]" value="--><?php //echo $this->escapeHtml($this->getAddress()->getRegion()) ?><!--//"  title="--><?php //echo $this->__('State/Province') ?><!--//" class="input-text --><?php //echo $this->helper('opc')->getAttributeValidationClass('region') ?><!--" style="display:none;" />-->
<!--                        // </div>-->
<!--                    // </div>-->
<!--                    <div class="field">-->
<!--<!--                        <label for="billing:fax">--><?php //echo $this->__('Fax') ?><!--<!--</label>-->
<!--                        <div class="input-box">-->
<!--                            <input type="text" name="billing[fax]" value="--><?php //echo $this->escapeHtml($this->getAddress()->getFax()) ?><!--" title="--><?php //echo $this->__('Fax') ?><!--" class="input-text --><?php //echo $this->helper('opc')->getAttributeValidationClass('fax') ?><!--" id="billing:fax" />-->
 <!--                        </div>-->
<!--                    </div>-->
                </li>
                <?php if(!$this->isCustomerLoggedIn()): ?>

                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                        <?php if ($_dob->isEnabled() || $_gender->isEnabled()): ?>
                            <li class="fields">
                            <?php if ($_dob->isEnabled()): ?>
                                <div class="field">
                                    <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($_gender->isEnabled()): ?>
                                <div class="field">
                                    <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                </div>
                            <?php endif ?>
                            </li>
                        <?php endif ?>

                    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                    <?php if ($_taxvat->isEnabled()): ?>
                            <li>
                                <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                            </li>
                    <?php endif ?>

                    
                <?php endif; ?>
                <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                	<div class="clear"></div>
                    <li class="control">
                        <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" onchange="if(window.shipping) shipping.setSameAsBilling(false);"<?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="billing:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
                    </li>
                <?php else:?>
                    <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                <?php endif; ?>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
            </ul>
        </fieldset>
        <span class="validation-advice shipping-fee-msg "><?php echo $this->__('Additional shipping fees apply.'); ?></span>
    </li>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('checkout.onepage.billing.extra')?>
    <?php if(!$this->isCustomerLoggedIn()): ?>
    
    	<?php
    	$guest_allowed = $this->getQuote()->isAllowedGuestCheckout();
    	if($guest_allowed): ?>
	    <li class="control">
            <div class=" checkbox">
            <label>
                <?php echo  $this->__('Create an account for later use') ?>
	            <input type="checkbox" name="billing[create_account]" id="billing:create_account" value="1" title="<?php echo  $this->__('Create an account for later use') ?>"  />
                </label>
                </div>
	    </li>
	    <?php else:?>
	    	<input type="hidden" name="billing[create_account]" id="billing:create_account" value="1" />
	    <?php endif;?>
        
		<li class="fields <?php if($guest_allowed):?>hidden<?php endif;?>" id="register-customer-password">
			<div class="field">
<!--				<label for="billing:customer_password" class="required"><em>*</em>--><?php //echo $this->__('Password') ?><!--</label>-->
				<div class="input-box">
					<input type="password" placeholder="<?php echo $this->__('Password') ?>" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Password') ?>" class="input-text validate-password <?php if(!$guest_allowed):?>required-entry<?php endif;?>" autocomplete="off"/>
				</div>
			</div>
			<div class="field">
<!--				<label for="billing:confirm_password" class="required"><em>*</em>--><?php //echo $this->__('Confirm Password') ?><!--</label>-->
				<div class="input-box">
					<input type="password" placeholder="<?php echo $this->__('Confirm Password') ?>" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text validate-cpassword <?php if(!$guest_allowed):?>required-entry<?php endif;?>" autocomplete="off"/>
				</div>
			</div>
		</li>
		<div class="clear"></div>
    
    <?php endif;?>
    
    <?php if ($this->canShip()): ?>
        <li class="control <?php if (!Mage::helper('opc')->isShowShippingForm()):?>hidden<?php endif;?>">
            <div class="checkbox">
                <label><?php echo  $this->__('Ship to this address') ?>
            <input type="checkbox" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1"<?php if ($this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo  $this->__('Ship to this address') ?>" class="checkbox   " />
                </label>
            </div>
        </li>
    <?php endif; ?>
    </ul>
    <?php if (!$this->canShip()): ?>
        <input type="hidden" name="billing[use_for_shipping]" value="1" />
    <?php endif; ?>

</div>
<script type="text/javascript">
//<![CDATA[
    var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');
//]]>
</script>
