/*
Theme Name: Storyblog
Theme URI: http://bloompixel.com/
Author: Simrandeep Singh
Author URI: http://themeforest.net/user/BloomPixel
Description: WordPress Blog Theme for Story Tellers
Version: 1.0.6
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags:right-sidebar, custom-menu, featured-images, two-columns, theme-options, custom-background, threaded-comments
*/

/*-------------------------------------------------------------------------------------

	1. CSS Reset
	2. Framework (body, headings, links)
	3. Main Container
		3.1 Boxed Layout
	4. Header
	5. Navigation
	6. Main Content (homepage, single)
	7. Comments
	8. Sidebar
	9. Footer
	10. Widgets
		10.1. Default Widgets
		10.2. Recent Posts
		10.3. Search Form
		10.4. Tags Widget
		10.5. Subscribe Widget
		10.6. Social Widget
		10.7. 125x125 Ads
		10.8. 160x600 Ads
		10.9. 300x250 Ads
		10.10. Tabs
		10.11. Popular Posts
		10.12. Flickr
		10.13. Calendar Widget
	11. Other Styles
		11.1. Contact Form 7
		11.2. Magnific Popup

-------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	1. CSS Reset
/*-----------------------------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:inherit;
    vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}
ins {
    /*background-color:#ff9;
    color:#000;*/
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del { text-decoration: line-through; }
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
html { overflow-x:hidden }
input, select { vertical-align:middle; }
select {
    max-width:100%;
    padding:8px 6px
}
input[type="submit"] { font-size: 13px }
.clear { clear: both; display: block; font-size: 0;	height: 0; line-height: 0; width:100%; }
.clearfix:after { clear: both; content: ""; font-size: 0;  height: 0; display: table; visibility: hidden; }


/*-----------------------------------------------------------------------------------*/
/*	2. Framework
/*-----------------------------------------------------------------------------------*/
body {
	background:#ffffff;
	line-height:1;
	color:#848484;
	font:13px/20px arial, sans-serif;
}
a {
	color:#ff4444;
	outline:none;
	text-decoration:none;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
a:hover { color:#ff4444; }
::-moz-selection {
    background: #222;
    color: white;
    text-shadow: none;
}
::selection {
    background: #222;
    color: white;
    text-shadow: none;
}
h1, h2, h3, h4, h5, h6 {
	color:#000;
	font-family:Arial, sans-serif;
	margin-bottom:30px;
	font-weight:400;
}
h1 {
	font-size:28px;
	line-height:34px;
}
h2{
	font-size:24px;
	line-height:30px;
}
h3 {
	font-size:22px;
	line-height:28px;
}
h4 {
	font-size:20px;
	line-height:26px;
}
h5 {
	font-size:18px;
	line-height:24px;
}
h6 {
	font-size:16px;
	line-height:22px;
}
p { margin-bottom:30px }
blockquote {
	font-size:14px;
	font-style:italic;
	padding:20px 30px;
}
em, i, cite { font-style: italic; }
strong { font-weight: 700; }
img, video, object, embed {
	height: auto;
	max-width: 100%;
}
img { vertical-align: middle }
caption, th, td { text-align: left }
sub, sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sub { bottom:-3px }
sup { top:-4px }
.center-width {
	margin:0 auto;
	max-width:1170px;
	width:100%
}
.uppercase { text-transform:uppercase }
.textcenter { text-align:center }
.last { margin-right:0 !important }


/*-----------------------------------------------------------------------------------*/
/*	3. Main Container
/*-----------------------------------------------------------------------------------*/
.main-container {
	background:transparent;
	clear:both;
    overflow: hidden;
	width:100%
}
.main-wrapper {
	clear:both;
	width:100%;
}
.container {
	margin:0 auto;
	width:1170px;
}
.single #page,
.archive #page { }

/*-----------------------*/
/*	3.1 Progress Bar
/*-----------------------*/
progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: 4px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
    color: red;  /*#ffbb33*/
    z-index: 999
}
progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: red;  /*#ffbb33*/
}

progress::-moz-progress-bar {
  background-color: red;  /*#ffbb33*/
}


/*-----------------------------------------------------------------------------------*/
/*	4. Header
/*-----------------------------------------------------------------------------------*/
.main-header {
	background:#fff;
    border-bottom:1px solid rgba(0, 0, 0, 0.09);
	color:#333;
	margin:0 auto;
    position:relative;
	width:100%;
}
.header {
	clear:both;
	margin:0 auto;
	max-width:100%;
	padding:0;
	position:relative;
	width:100%;
}
.header-1 .header { text-align:center }
.header-1:before {
    background:rgba(255, 255, 255, 0.2);
    position:absolute;
    content:'';
    display:block;
    height:1px;
    width:100%;
    bottom:4px
}
.logo-wrap {
	display:inline-block;
	max-width:100%
}
.tagline {
	display:block;
	font-size:14px
}
.header #logo {
	display:inline-block;
	line-height:1;
	margin:0;
	max-width:100%
}
.header a { color:#fff }
.header #logo img { float:left }
.header-2 .logo-wrap { float:left}
.header-ad-widget {
    float: right;
    margin: 20px 0;
    max-width: 728px
}


/*-----------------------------------------------------------------------------------*/
/*	5. Navigation
/*-----------------------------------------------------------------------------------*/
.nav-menu-btn {
    cursor:pointer;
    display:none;
    float:left;
    padding:20px 0
}
.nav-menu-btn i { margin-right:5px }
.menu, .menu * {
	margin:0;
	padding:0;
	list-style:none;
}
.menu { line-height:1.0 }
.main-nav .center-width { border-top:1px solid rgba(255, 255, 255, 0.08) }
.nav-menu .menu li:hover {
	visibility:inherit; /* fixes IE7 'sticky bug' */
}
.nav-menu .menu a {
	display:block;
	line-height:22px;
	position:relative
}
.nav-menu .menu ul {
    box-shadow:0 1px 5px #ccc;
	padding:0;
	position:absolute;
	top:-999em;
	width:180px; /* left offset of submenus need to match (see below) */
}
.nav-menu .menu > li > ul:before {
    content: '';
    position: absolute;
    left:20px;
    top: -8px;
    display: block;
    width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #f7f7f7;
    z-index:1
}
.nav-menu .menu ul li { width:100% }
.nav-menu .menu li:hover > ul {
    display:block;
	left:0;
	top:60px; /* match top ul list item height */
	width:180px;
	z-index:1000
}
.nav-menu ul.menu li:hover li ul { top:-999em }
.nav-menu ul.menu li li:hover ul {
	border:0;
	padding:0;
	left:180px; /* match ul width */
	top:0px
}
.main-navigation {
    background:#000;
    border-bottom:1px solid rgba(0,0,0,0.08);
	font-size:13px;
	line-height:20px;
	position:relative;
	text-transform:uppercase;
}
.nav-menu a {
	color:#8b8b8b;
	padding:20px 16px
}
.nav-menu ul ul a {
	border-right:none;
	margin:0;
}
.nav-menu {
	margin:0;
	max-width:100%;
	position:relative;
}
.nav-menu ul { float:left }
.nav-menu ul li {
	display:inline-block;
	float:left;
	list-style:none;
	position:relative;
}
.main-nav { }
.main-nav .nav-menu ul li { float:none }
.nav-menu ul li ul {
    display:none;
    text-align:left
}
.nav-menu ul li ul li a {
	background:#f7f7f7;
	border-bottom:1px solid rgba(0,0,0,0.08);
	color:#6f6f6f;
	padding:10px 20px;
	line-height:18px
}
.nav-menu ul li ul li a:hover {
	background:#ccc;
	color:#fff !important;
	padding:10px 20px;
}
ul.menu ul .sf-sub-indicator {
	display:block;
	right:12px;
	top:9px;
	position:absolute
}
.nav-menu .menu-item-has-children > a {
	padding-right:24px;
	z-index:20
}
.nav-menu .menu-item-has-children > a:after {
	border:4px solid transparent;
	border-top-color:rgba(0, 0, 0, 0.5);
	content:'';
	height:0;
	margin-top:0px;
	position:absolute;
	right:10px;
	top:30px;
	width:0;
}
.nav-menu ul ul .menu-item-has-children > a:after {
	top:16px;
	right:5px;
	border-color:transparent;
	border-left-color:rgba(0,0,0,.2);
}
.side-sub-menu { display:none }
.menu i {
	display:inline-block;
	margin-right:5px;
	margin-top:-0.265em;
	vertical-align:middle
}
.stickymenu { 
	background: #272727;
    border-bottom:1px solid #eee !important;
	position:fixed; 
	z-index:100; 
	left:0; 
	top:0; 
	width:100%; 
	opacity:0.95;
	-webkit-transition:-webkit-transform 250ms ease-out 0s;
	transition:transform 250ms ease-out 0s;
}
.stickymenu .center-width { border: 0 }
.nav-up.stickymenu { 
	-webkit-transform:translate3d(0px, -60px, 0px);
	-moz-transform:translate3d(0px, -60px, 0px);
	-ms-transform:translate3d(0px, -60px, 0px);
	-o-transform:translate3d(0px, -60px, 0px);
	transform:translate3d(0px, -60px, 0px);
}
.nav-up .nav-menu a {
    padding:0 16px
}
.nav-down.stickymenu { top: 0 }
.menu-btn {
    color:#000;
    display:block;
    float:right;
    font-size:14px !important;
    cursor:pointer;
    position:relative;
    height:60px;
    width:40px
}
.menu-btn:before {
    position:absolute;
    top:50%;
    left:15px;
    margin-top:-6px
}
.footer-menu {
	float:right
}
.footer-menu li { float:left }
.footer-menu li a {
	display:block;
	padding:13px 0 13px 15px
}
.footer-menu ul ul { display:none }
#close-button {
	margin:0 0 20px;
	text-align:center
}
#close-button .fa {
	color:#000;
	cursor:pointer;
	font-size:22px
}
.menu-pusher {
    background:#fff;
	position:relative;
	-webkit-transition:-webkit-transform 0.5s;
	-moz-transition:-webkit-transform 0.5s;
	-ms-transition:-webkit-transform 0.5s;
	-o-transition:-webkit-transform 0.5s;
	transition:transform 0.5s;
}
.header-2 .main-navigation {
    border:0;
    float:right
}
.header-2 .nav-menu ul li ul li a { padding: 10px 20px }

.side-nav {
    background-color: #fff;
    bottom: 0;
    overflow-y: scroll;
    position: fixed;
    right: -405px;
    top: 0;
    padding: 40px;
    width: 320px;
    box-shadow: 0 0 6px -1px #999;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.openNav .menu-pusher {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 200;
    -webkit-transform:translate3d(-400px, 0px, 0px);
    -moz-transform:translate3d(-400px, 0px, 0px);
    -ms-transform:translate3d(-400px, 0px, 0px);
    -o-transform:translate3d(-400px, 0px, 0px);
    transform:translate3d(-400px, 0px, 0px);
}
.openNav .side-nav {
    right: 0;
    z-index: 300
}

/*-----------------------------------------------------------------------------------*/
/*	6. Main Content
/*-----------------------------------------------------------------------------------*/
.main-content {
	background:#fff;
	clear:both;
	margin:0 auto;
	overflow:hidden;
	max-width:100%
}
.content-area {
	width:100%
}
.content-single,
.content-page { margin:50px 0 }
.content-area a {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.content-home {
	float:left;
	margin:0;
	width:100%
}
.content {
    position:relative
}
.post header,
.attachment header {
    clear:both;
    text-align:center
}
.cover-box {
	overflow:hidden;
	position:relative
}
.cover-image {
    background-attachment:fixed;
	background-size:cover;
	background-position:50% 0;
	background-repeat:no-repeat;
	height:640px;
	position:relative
}
.cover-heading {
    color:#fff;
	position:relative;
	margin:0 auto;
    top:50%;
    transform:translateY(-50%);
	width:100%
}
.cover-text {
	margin:0 auto;
    max-width:94%;
    width:970px
}
.cover-text .post-date { margin-bottom: 10px }
.cover-text .post-meta a { color: #fff }
.cover-heading .title,
.cover-heading .post-meta .fa {
	color:#fff;
}
.cover-heading .post-meta { margin:0 }

/*---[ Homepage ]---*/
.title { 
	margin-bottom:15px 
}
.title a { color:#fff }
.entry-title { margin-bottom:10px }
.page-title {
	font-size:26px;
	margin:0 0 20px;
}
.featured-thumbnail {
	display: block;
    float: left;
	position: relative;
	width: 100%
}
.featured-thumbnail img {
	float:left;
	width:100%;
	height:auto;
}
.featured-thumbnail .fhover {
	background:rgba(0,0,0,0.5);
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	opacity:0;
	transition:opacity 0.35s ease 0s;
}
.featured-thumbnail .fhover:hover { opacity: 1 }
.featured-thumbnail .fhover:before,
.featured-thumbnail .fhover:after {
	content:'';
	display:block;
	position:absolute;
	top:30px;
	left:30px;
	bottom:30px;
	right:30px;
	transition:transform 0.35s ease 0s;
}
.thumbnail .featured-thumbnail .fhover:before,
.thumbnail .featured-thumbnail .fhover:after {
	top:15px;
	right:15px;
	bottom:15px;
	left:15px
}
.featured-thumbnail .fhover:before {
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	transform:scale(0,1);
}
.featured-thumbnail .fhover:after {
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	transform:scale(1,0);
}
.featured-thumbnail .fhover:hover:before,
.featured-thumbnail .fhover:hover:after { transform:scale(1) }
.featured-thumbnail-big {
	clear:both;
    float:none;
    margin-top:20px;
    overflow:hidden;
	position:relative;
	width:100%;
}
.featured-single {
    margin-bottom:30px;
	width:100%
}
.post .featured-thumbnail-big .fhover {
	background-image:url(images/plus.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.post.format-image .featured-thumbnail-big .fhover,
.post .featured-thumb-gallery .fhover {
	background-image:url(images/zoom.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.post-inner {
    color:rgba(255, 255, 255, 0.9);
    margin:0 auto;
    max-width:96%;
    position:relative;
    text-align:center;
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
    top:50%;
    z-index:99
}
.content-home .format-quote .post-inner { border:0 }
.post-content {
	font-size:16px;
	line-height:26px;
    margin-bottom:30px
}
.entry-content { margin:0 }
.entry-content p { margin-bottom:15px }
.single-post-content {  }
.post-tags { font-size:14px }
.post-meta {
	color:#999;
	font-size:12px;
	margin-bottom:11px;
	overflow:hidden
}
.post-meta a { color:#999 }
.cover-box .post-meta,
.cover-box .post-meta a { color:inherit }
.post-meta span {
	display:inline-block;
	margin:0 10px 4px 0;
	position:relative
}
.post-meta span:last-of-type { margin-right:0 }
.post-meta .post-comments span.comments-link {
	border:none;
	margin:0;
	padding:0;
}
.post-cats { margin-bottom:20px }
.single .post-cats { margin-bottom:10px }
.post-grid .read-time {
    background:rgba(255, 255, 255, 0.3);
    border-radius:20px;
    display:inline-block;
    padding:5px 15px;
}
.posted-on {
    float:left;
    margin:8px 0
}
.post-grid .posted-on {
    float:right;
    text-align:right
}
.post-day {
    display:block;
    font-size:24px;
    margin:0 0 5px
}
.post-author-single {
    float:left;
    margin:0 5px 0 0
}
.post-author-single img {
    border-radius:50%;
    margin-right:10px
}
.post-author a { color:inherit }
.post-meta .fa,
.meta .fa { margin:0 4px 0 0 }
.cover-container {
	margin:0;
	position:relative
}
.read-more {
	display:block;
}
.read-more a,
.more-link { }
.post .read-more a:hover,
.post .more-link:hover {
	color:#262626;
}
.post-icons {
    float:right;
}
.subscribe-icon,
.share-icon {
    border:1px solid #000;
    border-radius:4px;
    display:inline-block;
    float:right;
    margin:0 3px;
    padding:8px 16px;
    vertical-align:top
}
.subscribe-icon a { color:inherit }
.subscribe-icon .fa,
.share-icon .fa {
    cursor:pointer;
    margin:0 4px 0 0
}
.share-icon { cursor:pointer }

/*-----------------------*/
/*	6.2 Post Formats
/*-----------------------*/
.post-format-link {
	background:rgba(0,0,0,0.5);
	color:#fff;
	float:none;
	font-size:24px;
	line-height:30px;
    margin:20px 0;
	padding:20px;
	position:relative;
    text-align:center;
	word-wrap:break-word
}
.post-content-format {
	display:block;
	border:1px solid rgba(255, 255, 255, 0.3);
	padding:20px;
	text-align:center;
}
.post-format-icon {
	color:#fff;
	font-size:26px !important
}
.post-format-quote {
	background:#333;
	color:#fff;
	margin:20px 0 30px;
	overflow:hidden;
	padding:20px;
}
.post-format-quote-content {
	margin:0;
	overflow:hidden
}
.post-format-quote-content a,
.post-format-quote-content a:hover { color:#fff }
.post .post-format-quote-content blockquote {
    border:0;
	color:#fff;
	font-size:24px;
	font-style:italic;
	line-height:36px;
	margin:0;
	padding:0
}
.audio-box { 
	margin:20px 0;
	width:100%
}
.audio-box iframe { float:left }
.custom-audio {
    float:left;
    position:relative;
    width:100%
}
.custom-audio-thumb { margin:-50px 0 0 }
.mejs-container, .mejs-embed, .mejs-embed body, .mejs-container .mejs-controls {
    background:rgba( 0,0,0,0.4 ) !important;
}
.mejs-audio,
.mejs-container .mejs-controls { height:50px !important }
.mejs-container .mejs-controls .mejs-time {
    padding:21px 3px 0 !important
}
.mejs-controls div.mejs-time-rail { padding-top:15px !important }
.mejs-controls .mejs-volume-button { padding-top:9px !important }
.mejs-controls a.mejs-horizontal-volume-slider,
.mejs-playpause-button { margin-top:9px !important }
.content-home .post.format-audio .post-meta { border-top:0 }
.status-box {
	background:#f3f3f3;
	margin:20px 0;
	padding:5px 15px;
	overflow:hidden;
}
.status-box iframe {
	float:none;
	margin:10px auto !important;
	width:100%
}
.fb-status {
	padding-bottom:25px;
	padding-top:10px;
}
.fb_iframe_widget {
    display: block !important;
    margin: 0 auto;
    width: 450px
}
.googlep-status {
	padding-bottom:15px;
	padding-top:15px;
}
.googlep-status div {
	display:block !important;
	margin:0 auto !important;
}
.post {
}
.post-box {}
.post-grid {
    background:#262626;
    border-bottom:2px solid #fff;
    box-sizing:border-box;
    float:left;
    height:440px;
	position:relative;
    width:50%
}
.post-grid:nth-child( 2n+1 ) { border-right:1px solid #fff }
.post-grid:nth-child( 2n+2 ) { border-left:1px solid #fff }
.post-cover {
    background-position:center center;
    background-size:cover;
    height:100%;
    opacity:0.6;
    position:absolute;
    width:100%
}

/* 3-3-3 Layout */
.ttlayout .post-grid {
    border-right:1px solid #fff;
    width:33.33333%
}
.ttlayout .post-grid:nth-child( 3n ) {
    border-left:1px solid #fff;
    border-right:0
}
.ttlayout .post-grid:nth-child( 3n-1 ) {
    border-left:1px solid #fff
}
.ttlayout .post-grid:nth-child( 3n-2 ) {
    border-left:0
}

/* Alternate Posts */
.altlayout .post-grid:nth-child( 3n+1 ) {
    height: 880px
}
.altlayout .post-grid:nth-child( 6n-2 ) {
    float: right
}
.altlayout .post-grid:nth-child( 6n-3 ) {
    border-left: 1px solid #fff;
    border-right: 0
}
.altlayout .post-grid:nth-child( 6n ) {
    border-right: 1px solid #fff;
    border-left: 0
}
.fullrow .post-grid {
    border-bottom:2px solid #fff;
    border-left:0;
    border-right:0;
    width:100%
}

/* Mixed Style Posts */
.mixlayout .post-grid {
    border-left:0;
    border-right:0;
    width:100%
}
.mixlayout .post-grid:nth-child(4n+2) {
    border-right:1px solid #fff;
    height:880px;
    width:50%
}
.mixlayout .post-grid:nth-child(4n),
.mixlayout .post-grid:nth-child(4n-1) {
    border-left:1px solid #fff;
    height:440px;
    width:50%
}

/* 1-2-1-2 Layout */
.rclayout .post-grid {
    border-left:0;
    border-right:0;
    width:100%
}
.rclayout .post-grid:nth-child( 3n ),
.rclayout .post-grid:nth-child( 3n-1 ) {
    width:50%
}
.rclayout .post-grid:nth-child( 3n ) {
    border-left:1px solid #fff;
    border-right:0
}
.rclayout .post-grid:nth-child( 3n-1 ) {
    border-left:0;
    border-right:1px solid #fff
}

/* 1-3-1-3 Layout */
.otlayout .post-grid {
    border-left:0;
    border-right:0;
    width:100%
}
.otlayout .post-grid:nth-child( 4n ),
.otlayout .post-grid:nth-child( 2n+2 ),
.otlayout .post-grid:nth-child( 4n-1 ) {
    border-right:1px solid #fff;
    width:33.33333%
}
.otlayout .post-grid:nth-child( 4n ),
.otlayout .post-grid:nth-child( 4n-1 ) {
    border-left:1px solid #fff;
}
.otlayout .post-grid:nth-child( 4n ) {
    border-right:0
}

/* Single Layouts */
.sclayout .content-area,
.cslayout .content-area {
    margin: 0 auto;
    max-width: 96%;
    overflow: hidden;
    width: 1170px;
}
.sclayout .content,
.cslayout .content {
    float: left;
    width: 64.4%;
}
.sclayout .content {
    float:right;
    margin-left:4%
}
.cslayout .content { margin-right:4% }
.sclayout .sidebar,
.cslayout .sidebar {
    margin:20px 0 0
}
.cslayout .page-content,
.cslayout .single-content,
.cslayout .post-navigation,
.cslayout .author-box,
.cslayout #comments,
.cslayout #respond,
.sclayout .page-content,
.sclayout .single-content,
.sclayout .post-navigation,
.sclayout .author-box,
.sclayout #comments,
.sclayout #respond {
    max-width:100%;
    width:100%
}
.cslayout .related-posts .post-grid,
.sclayout .related-posts .post-grid {
    border-right:0;
    width:50%
}
.sclayout .related-posts .post-grid:nth-child(3n+1),
.cslayout .related-posts .post-grid:nth-child(3n+1) {
    border:0;
    border-bottom:2px solid #fff;
    clear:none
}
.sclayout .related-posts .post-grid:nth-child(3n),
.cslayout .related-posts .post-grid:nth-child(3n) {
    border:0;
    border-bottom:2px solid #fff;
    clear:left
}
.sclayout .related-posts .post-grid:nth-child(2n+2),
.cslayout .related-posts .post-grid:nth-child(2n+2) {
    border-left:1px solid #fff
}
.sclayout .related-posts .post-grid:nth-child(2n+1),
.cslayout .related-posts .post-grid:nth-child(2n+1) {
    border-right:1px solid #fff
}

.post-meta-thumb {
    color:rgba(255, 255, 255, 0.9);
    left:20px;
    right:20px;
    top:20px;
    position:absolute;
}
.post-meta-thumb a {
    color:rgba(255, 255, 255, 0.9);
}
.post-meta-top {
    background:#fbfbfb;
    border-top:1px solid rgba(0, 0, 0, 0.09);
    bottom:0;
    padding:12px 0;
    position:fixed;
    width:100%;
    z-index:100
}
.post-meta-top .container { position:relative }
.post-avtar { float:left }
.post-avtar img {
    border-radius:50%;
    margin-right:10px
}
.post-cats a {
    border-bottom:2px solid #ffbb33;
    color:#fff;
	display:inline-block;
    font-weight:700;
    padding-bottom:3px
}
.edit-link { margin:15px 0 0 }
.single-content .post-cats a { color:#000 }
.post-type {
	display:inline-block;
	font-size:14px;
	position: absolute;
    left: 138px;
    top: 40px
}
.post-type i {
	background:#99cc00;
	color:#fff;
	display:inline-block;
	font-size:11px;
	padding:8px 10px;
	-webkit-border-radius:50%;
	 -moz-border-radius:50%;
		  border-radius:50%;
}
.sticky { }

/*---[ Single ]---*/
.content-archive { margin:0; }
.page-content,
.single-content,
.post-navigation,
.author-box,
#comments,
#respond {
    border-bottom:1px solid rgba(0, 0, 0, 0.09);
    margin-bottom:25px;
    position:relative;
    margin:0 auto 25px;
    max-width:96%;
    width:970px;
}
.article-area { background:#fff }
.article-area header {
	float:left;
	width:100%;
}
.error404 .page-content header { margin:0 3% }
.error-page-content {
	font-size:16px;
	line-height:28px;
	padding:30px;
	text-align:center
}
.error404 .page-content {
    border-bottom:0;
    margin-bottom:0;
}
.error404 .clayout .page-content,
.error404 .glayout .page-content { border-bottom:0 }
.error-head {
	border-bottom:1px solid #CCCCCC;
    height:1px;
    margin-top:15px;
    margin-bottom:20px;
    position:relative;
}
.error-head span {
	background:#fff;
	padding:0 20px;
	position:relative;
	top:-14px
}
.error-text {
	color:#ff8800;
	font-size:230px;
	line-height:200px;
	margin-bottom:30px
}
.single-title {
	margin:15px 0
}
#fullwidth-comments {
	background:#fff;
	margin:0 0 30px;
	padding:0;
}
.page-links { margin-bottom:20px }
img.size-full, 
mg.size-large,
img.wp-post-image {
	height:auto;
	max-width:100%
}
article img.right,
article img.alignright,
.wp-caption.alignright {
	display:block;
	float:right;
	margin:0.4em 0 1em 1.5em;
}
.wp-caption.aligncenter,
.wp-caption.alignnone {
	display:block;
	margin:0.4em 0 1em 1.5em;
}
.wp-caption.aligncenter {
    float:none;
    margin:0 auto 1em;
    max-width:100%
}
.wp-caption.alignnone {
    margin-left:0;
    max-width:100%;
    position:relative
}
article img.aligncenter,
article img.alignnone {
	display:block;
	clear:both;
    /*margin:0 -10%;
    max-width:120%;
    width:120%;*/
}
article img.left,
article img.alignleft,
.wp-caption.alignleft {
	background:rgba(0, 0, 0, 0.027);
	border:1px solid rgba(0, 0, 0, 0.08);
	display:block;
	float:left;
	margin:0.5em 1.5em 1em 0;
	padding:5px
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	color:#757575;
	font-size:11px;
	font-style:italic;
	line-height:20px;
    margin:10px 0 5px;
}
.alignnone .wp-caption-text {
    position:absolute;
    background:rgba(255,255,255,0.8);
    color:#000;
    font-size:16px;
    font-style:normal;
    bottom:15px;
    padding:10px 16px
}
.wp-caption {
	max-width:100%
}
.alignleft { float:left }
.alignright { float:right }
.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto
}
.post table,
.content-page table {
	border-bottom:1px solid #e5e5e5;
	margin-bottom:20px;
	width:100%
}
.post th,
.content-page th {
	padding:6px 10px 6px 0;
	text-transform:uppercase
}
.post td,
.content-page td,
.post th,
.content-page th {
	border-top:1px solid #e5e5e5;
	padding:8px 20px
}
.post th,
.content-page th {
	background:rgba(0,0,0,0.04)
}
.post dl,
.content-page dl { margin:0 30px }
.post dt,
.content-page dt { font-weight:700 }
.post dd,
.content-page dd { margin:0 0 20px }
.post ul,
.content-page ul,
.content-single .comment ul {
	list-style:none;
	margin-bottom:20px
}
.post ol,
.content-page ol,
.content-single .comment ol {
	list-style:decimal;
	margin-bottom:20px
}
.post ul ul,
.content-page ul ul,
.content-single .comment ul ul,
.post ul ol,
.content-page ul ol,
.content-single .comment ul ol,
.post ol ul,
.content-page ol ul,
.content-single .comment ol ul,
.post ol ol,
.content-page ol ol,
.content-single .comment ol ol { margin-bottom:0 }
.post-content li,
.content-page li {
    list-style:disc;
	margin-left:22px;
	position:relative
}
.post address,
.content-page address { margin-bottom:20px }
.post code,
.content-page code { font-family:Consolas,Monaco,Lucida Console,monospace }
.post pre,
.content-page pre {
	border:1px solid #e5e5e5;
	margin-bottom:20px;
	padding:20px;
	overflow:auto
}
/* Gallery */
.gallery { margin-bottom:20px }
.gallery:after {
	clear:both;
	content:"";
	display:block
}
.gallery-item {
	float:left;
	margin:0 4px 4px 0;
	overflow:hidden;
	position:relative;
    vertical-align:top;
    text-align:center
}
.gallery-columns-1 .gallery-item { max-width:100% }
.gallery-columns-2 .gallery-item {
	max-width:48%;
	max-width:-webkit-calc(50% - 4px);
	max-width:        calc(50% - 4px);
}
.gallery-columns-3 .gallery-item {
	max-width:32%;
	max-width:-webkit-calc(33.3% - 4px);
	max-width:        calc(33.3% - 4px);
}
.gallery-columns-4 .gallery-item {
	max-width:23%;
	max-width:-webkit-calc(25% - 4px);
	max-width:        calc(25% - 4px);
}
.gallery-columns-5 .gallery-item {
	max-width:19%;
	max-width:-webkit-calc(20% - 4px);
	max-width:        calc(20% - 4px);
}
.gallery-columns-6 .gallery-item {
	max-width:15%;
	max-width:-webkit-calc(16.7% - 4px);
	max-width:        calc(16.7% - 4px);
}
.gallery-columns-7 .gallery-item {
	max-width:13%;
	max-width:-webkit-calc(14.28% - 4px);
	max-width:        calc(14.28% - 4px);
}
.gallery-columns-8 .gallery-item {
	max-width:11%;
	max-width:-webkit-calc(12.5% - 4px);
	max-width:        calc(12.5% - 4px);
}
.gallery-columns-9 .gallery-item {
	max-width:9%;
	max-width:-webkit-calc(11.1% - 4px);
	max-width:        calc(11.1% - 4px);
}
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right:0
}
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear:left
}
.gallery-caption {
	background-color:rgba(0, 0, 0, 0.7);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:   border-box;
	box-sizing:        border-box;
	color:#fff;
	font-size:12px;
	line-height:1.5;
	margin:0;
	max-height:50%;
	opacity:0;
	padding:6px 8px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:left;
	width:100%;
}
.gallery-caption:before {
	content:"";
	height:100%;
	min-height:49px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
.gallery-item:hover .gallery-caption { opacity:1 }
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption { display:none }
.post-content blockquote {
    color:#a6a6a6;
	font-size:inherit;
	margin:40px 0 40px;
	padding:20px 30px;
    position:relative
}
.post-content blockquote p { margin-bottom:0 }
.post-content blockquote:before,
.post-content blockquote:after {
    background:#e0e0e0;
    height:1px;
    max-width:250px;
    width:96%;
    content:'';
    display:block;
    left:50%;
    margin-left:-125px;
    position:absolute;
    top:0
}
.post-content blockquote:after {
    bottom:0;
    top:auto
}
.post-format-content { margin:20px 0 }
.post-format-content .wp-video { margin:0 auto }
.post-navigation {
	padding:0 0 25px;
}
.post-navigation .post-nav-links  {
	float:left;
	position:relative;
	width:50%;
}
.post-navigation .post-nav-links span {
	color:#000;
	display:block;
	font-size:13px;
	line-height:18px;
	margin-bottom:20px
}
.post-navigation a {
	color:#000;
	font-size:16px;
    font-weight:700;
	line-height:20px
}
.post-navigation .prev-link,
.post-navigation .next-link {
	overflow:hidden;
	position:relative;
	z-index:10
}
.post-navigation .prev-link { margin:0 15px 0 0 }
.post-navigation .next-link { margin:0 0 0 15px }
.post-navigation .next-link-wrapper { float:right; text-align:right }
.single-post-ad {
	clear:both;
	margin:0 0 10px
}
.alignleft .post-nav-thumb {
    float:left;
    margin:0 15px 0 0
}
.alignright .post-nav-thumb {
    float:right;
    margin:0 0 0 15px
}

/*---[ Breadcrumbs ]---*/
.breadcrumbs {
    background:rgba(0, 0, 0, 0.05);
	margin:0;
	padding:15px 0
}
.breadcrumbs a { color:#000 }
.breadcrumbs i { margin-right:4px }

/*---[ Social Share Buttons ]---*/
.share-buttons {
    background:#fff;
    border:1px solid rgba(0, 0, 0, 0.09);
    border-radius:5px;
    display:none;
    padding:10px 20px 0;
	position:absolute;
    right:3px;
    top:-72px
}
.share-buttons:before {
    content:'';
    position:absolute;
    right:25px;
    bottom:-8px;
    display:block;
    width:0; 
	height:0;
    margin-left:-9px;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:8px solid #fff;
    z-index:1
}
.post-meta-top .share-buttons:before { border-top:8px solid #eee }
.social-buttons {
	position:relative;
    text-align:center;
	z-index:99
}
.social-btn {
	display:inline-block;
	margin:0 3px 10px;
}
.social-btn a {
    background:#000;
	border:1px solid rgba(0, 0, 0, 0.15);
    border-radius:50%;
	color:#fff;
	display:inline-block;
	font-size:14px;
	line-height:20px;
	padding:4px 0;
	position: relative;
	text-align:center;
	width:28px;
}
.share-buttons .social-btn a,
.share-buttons .social-btn a:hover { color:#fff }
.social-fb a:hover { background:#3A5795 }
.social-twitter a:hover { background:#55ACEE }
.social-gplus a:hover { background:#DA4835 }
.social-pinterest a:hover { background:#CB2027 }
.social-stumbleupon a:hover { background:#EB4924 }
.social-reddit a:hover { background:#6BAEE2 }
.social-linkedin a:hover { background:#0085AF }
.social-tumblr a:hover { background:#304D6B }
.social-email a:hover { background:#F4981E }

/*---[ Author Box ]---*/
.author-box { padding:0 0 25px }
.author-box-avtar {
	float:left;
	margin-right:20px;
	max-width:80px;
	width:14.2%
}
.author-head { overflow:hidden }
.author-box h4 {	margin:0 }
.section-heading {
	color:#000;
	font-size:18px
}
.author-box h5 {
	font-size:16px;
	line-height:22px
}
.author-box img {
	float:left;
	margin:0;
	-webkit-border-radius:50%;
	 -moz-border-radius:50%;
		  border-radius:50%;
}
.author-info-container {
	margin-left:0;
	overflow:hidden;
}
.author-social a {
	border:1px solid rgba(0, 0, 0, 0.6);
	color:rgba(0, 0, 0, 0.5);
	font-size:14px;
	padding:10px 0;
	text-align:center;
	width:34px;
	-webkit-border-radius:50%;
	 -moz-border-radius:50%;
		  border-radius:50%;
}
.author-social a:hover { color:#fff }
.author-fb a:hover { background:#395aa1 }
.author-twitter a:hover { background:#17a8dd }
.author-gp a:hover { background:#fc5656 }
.author-linkedin a:hover { background:#017eb4 }
.author-pinterest a:hover { background:#cc2127 }
.author-dribbble a:hover { background:#ef5b92 }
.archive-cover-box {
	border-bottom:1px solid #e3e3e3;
}
.author-desc-box {
	margin:0 auto;
	padding:40px 0;
	overflow:hidden;
	text-align:center;
}
.author-box-title {
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	font-size:13px;
	padding:15px 20px
}
.author-box .widget-title:before { border:0 }
.author-desc-box h5 {
	font-size:20px;
	font-weight: 700;
	line-height:26px;
	margin-bottom:20px
}
.author-avtar {
	margin:0 auto 10px;
	width:80px
}
.author-avtar img { float:none; }
.author-page-info {
	color:#333;
	margin:0 auto;
	max-width:96%;
	position:relative;
	width:770px;
}
.author-desc,
.author-articles,
.author-page-info .author-social {
	margin-top:20px
}
.author-articles {
	border:1px solid rgba(0, 0, 0, 0.6);
    border-radius:20px;
    display:inline-block;
    padding:6px 30px
}

/*---[ Related Posts ]---*/
.related-posts {
	clear:both;
    margin-bottom:25px;
	position:relative;
    text-align:center
}
.related-posts .post-grid {
    border-right:1px solid #fff;
	width:33.33333%;
}
.related-posts .post-grid:nth-child(3n) {
    border-left:1px solid #fff;
    border-right:0
}
.related-posts .post-grid:nth-child(3n-1) {
    border-left:1px solid #fff;
}
.related-posts .post-grid:nth-child(3n+1) {
    border-left:0;
    border-right:1px solid #fff;
    clear:left
}
.related-posts ul li a img {
	float: left;
	height: auto;
	width: 100%;
}
.related-post {
    margin:0
}
.related-posts .widgettitle {
    font-size:16px;
    line-height:22px;
    margin:0
}
.related-posts .relatedthumb {
	display:block;
	float:left;
    margin-bottom:15px;
	width:100%
}
.related-posts .related-content {
	text-align:center
}

/*---[ Post Navigation ]---*/
.navigation {
	clear:both;
	display:block
}


/*---[ Pagination ]---*/
.pagination,
.norm-pagination {
	border-right:1px solid #e3e3e3;
	clear:both;
	font-size:14px;
	margin:0;
	padding:20px;
	overflow:hidden;
	text-align: center;
}
.single .pagination {
    border:0;
    margin:15px 0 20px;
    padding:0
}
.single .pagination a { background:rgba(0, 0, 0, 0.04) }
.single .pagination a:hover { color:#fff }
.norm-pagination {
    font-size:12px;
    font-weight:700;
    margin-bottom:2px;
    padding:0;
    text-transform: uppercase
}
.norm-pagination .nav-previous {
    float:left;
    width:50%
}
.norm-pagination .nav-next {
    float:right;
    width:50%
}
.norm-pagination .nav-previous a,
.norm-pagination .nav-next a {
    border-bottom:1px solid rgba(0, 0, 0, 0.09);
    border-top:1px solid rgba(0, 0, 0, 0.09);
    box-sizing:border-box;
    display:block;
    padding:15px;
}
.norm-pagination .nav-previous a {
    border-right:1px solid rgba(0, 0, 0, 0.09);
    margin-right:1.5px;
}
.norm-pagination .nav-next a {
    border-left:1px solid rgba(0, 0, 0, 0.09);
    margin-left:1.5px;
}
.norm-pagination a { color: #000 }
.pagination span,
.pagination a {
	border:1px solid #eaeaea;
	color:#333;
	display:inline-block;
	margin:0 10px 0 0;
	padding:4px 11px;
}
.pagination a {
	background:#f6f6f6;
	color:#777
}
.pagination span {
	background:#f6f6f6;
	color:#777
}
.pagination .current,
.pagination a:hover { color:#fff }
.page-links-title {
    display:inline-block;
    font-weight:400;
    margin:0 10px 0 0
}
.single .pagination span,
.single .pagination a {
	line-height:1.6;
	margin:0 6px 0 0
}

/*---[ JetPack Infinite Scroll ]---*/
/* Hides navigation links and site footer when infinite scroll is active */
.infinite-scroll .navigation,
.infinite-scroll.neverending #footer {
    display: none;
}
/* Shows the footer again in case all posts have been loaded */
.infinity-end.neverending #footer {
    display: block;
}
#infinite-handle {
    margin-bottom: 30px;
    text-align: center
}
#infinite-handle span {
    display: inline-block
}
.infinite-loader {
    margin-bottom: 30px !important
}
.infinite-loader .spinner {
    left: 50% !important;
}
.infinite-scroll .content { margin-bottom: 3px }

/*-----------------------*/
/*	Archives Template
/*-----------------------*/
.archive-col {
	float:left;
	margin-bottom:20px;
	margin-right:5%;
	width:47.5%
}
.archive-col:nth-child(2n) { margin-right:0 }
.archive-col ul { margin:0 }
.archive-col ul li {
	font-size:14px;
	line-height:28px;
}
.archive-col a { color:#555 }

/*-----------------------*/
/*	Archive
/*-----------------------*/
.archive-title {
	margin:0;
	padding:0
}
.cat-cover-box {
	border-bottom:1px solid #e3e3e3;
	padding:60px 10px;
	text-align:center;
}
.category-title {
    color:#c3c3c3;
    font-weight:400;
	margin:0;
	padding:0
}
.category-title span {
	border-bottom:2px solid #ffbb33;
    color:#000;
    font-weight:700
}


/*-----------------------------------------------------------------------------------*/
/*	7. Comments
/*-----------------------------------------------------------------------------------*/
#comments {
    border-bottom:0;
    margin-bottom:0
}
.comment-header {
    margin-bottom:10px;
    margin-left:85px
}
.comment-author {
    float:left
}
#comments .avatar {
    border-radius:50%;
    left:0;
	margin-bottom:10px;
	margin-right:15px;
    position:absolute
}
.comments-count { margin:0 }
ol.commentlist {
	border-top:0;
	margin:15px 0 0;
	padding:0 0;
	position:relative;
	overflow:hidden;
}
.commentlist li.comment,
.commentlist li.pingback {
	float:left;
	list-style:none;
	margin:0;
	width:100%;
}
.commentlist li:last-child .comment-body { }
.commentlist li.pingback .comment-body { padding:0 0 20px }
.commentlist .comment-body {
	border-bottom:1px solid rgba(0, 0, 0, 0.09);
	margin:0 0 25px;
	padding:0;
}
.commentlist li:last-child  .comment-body {}
.commentlist p { margin:0 0 10px }
.commentlist .comment .children {
	float:left;
	margin-left:15%;
	margin-bottom:0;
	margin-top:0;
	width:85%;
}
.commentlist .children li {
	margin:0;
	position:relative;
	width:100%;
}
.fn {
	font-size:16px;
	font-style:normal;
}
.fn a { color:#333 }
.comment-meta {
    float:right;
	font-size:12px;
}
.comment-meta a { color:#999 }
.commentbody {
    margin-left:85px
}
.bypostauthor {}
.reply {
    margin-bottom:20px
}
.comment-reply-link {
	color:#555;
	display:inline-block;
    font-size:12px !important;
    line-height:1.2 !important
}
#respond {
    border-bottom:0
}
.commentlist #respond {
    border-top:0;
	border-bottom:1px solid rgba(0, 0, 0, 0.11);
    margin:0 0 30px;
    padding:0 0 20px
}
#reply-title {
	font-size:16px;
	line-height:20px;
	margin:0;
	text-transform:uppercase
}
#commentform {
	background:transparent;
	margin:15px 0 0
}
#commentform p {
	margin:0 0 10px;
	position:relative
}
#commentform p label {
	color:#999;
	font-size:12px;
	font-weight:700;
	text-transform:uppercase
}
#commentform .comment-form-author,
#commentform .comment-form-email,
#commentform .comment-form-url {
	float: left;
	width:31.4%
}
#commentform .comment-form-author input,
#commentform .comment-form-email input,
#commentform .comment-form-url input {
	width:88%
}
#commentform .comment-form-comment {
	clear:both;
	overflow:hidden;
	width:100%;
}
#commentform .comment-form-author,
#commentform .comment-form-email { margin:0 15px 0 0 }
#commentform input,
#commentform textarea {
	background:transparent;
	border:1px solid #ddd;
	display:block;
	font-size:14px;
	margin:4px 0 0;
	padding:10px 10px;
}
#commentform .comment-subscription-form input {
    display:inline-block;
    margin:0 3px 0 0
}
#commentform  textarea { width:95.5% }
#commentform .required { color:#dc0413 }
#commentform #submit {
	background-color:#2e2e2e;
	border:0;
	color:#fff;
	font-size:14px;
	font-weight:400;
	padding:8px 32px;
	text-transform:uppercase;
	cursor:pointer;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
#commentform #submit:hover {
	background:#000;
	color:#fff
}


/*-----------------------------------------------------------------------------------*/
/*	8. Sidebar
/*-----------------------------------------------------------------------------------*/
.sidebar {
	background:#fff;
	float:left;
	margin:0;
	width:31.6%;
}
.sidebar a {
	color:#333;
    -webkit-transition: background-color, color 0.2s linear;
    -moz-transition: background-color, color 0.2s linear;
    transition: background-color, color 0.2s linear;
}
#sidebar {
	margin-top:30px
}
.widget {
	margin-bottom:20px;
	overflow:hidden;
}
.widget-title {
	font-size:13px;
	font-weight:400;
	line-height:18px;
	margin-bottom:20px;
	position:relative;
    text-align:center
}
.side-nav .widget-title:before,
.side-nav .widget-title:after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 37%;
    border-top:1px dotted rgba(0, 0, 0, 0.6);
    left: 0;
    width: 100%
}
.side-nav .widget-title:after {
    bottom: 37%;
    top: auto
}
.widget-title span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1
}
.widget-title i { margin-right:5px }
.widget li {
	list-style:none;
	margin:0 0 7px;
	position:relative;
}
.widget ul.children {
	padding-left:20px;
}
.widget ul.children li:last-child {
	border-bottom:0;
	padding-bottom:0
}
.sidebar-widget {
	list-style:none;
	margin-bottom:40px;
	padding:0;
	position:relative
}
.widgettitle a,
.sidebar-widget a { color:#333 }
.sidebar .search-button { float:left }
.sidebar-widget li:last-child {
	margin-bottom:0
}
.widget .menu li { float:none }
.widget ul li ul li {
	border-bottom:none;
	margin-bottom:0
}


/*-----------------------------------------------------------------------------------*/
/*	9. Footer
/*-----------------------------------------------------------------------------------*/
.footer {
	background:#fff;
	border-top:1px solid rgba(0,0,0,0.09);
	color:#777;
	clear:both;
	overflow:hidden;
}
.footer a { color:#777 }
.footer a:hover { color:#fff }
.footer-widgets {
	background:transparent;
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	margin:0 auto;
	padding:45px 0 15px 0;
	width:100%;
}
.footer-widget { float:left }
.footer-columns-4 .footer-widget {
	margin-right:2%;
	width:23.5%;
}
.footer-columns-3 .footer-widget {
	margin:0 2% 0 0;
	width:32%;
}
.footer-columns-2 .footer-widget {
	margin:0 2% 0 0;
	width:49%;
}
.footer-columns-1 .footer-widget {
	margin:0;
	width:100%;
}
.footer-widgets .widget { margin:0 0 30px }
.footer-widget .widget-title {
    border:1px solid #000;
	color:#000;
    padding:4px
}
.footer-widget .widget-title span {
    border:1px solid #ececec;
    display:block;
    padding:8px 10px
}
.footer-widget .widget li { border-bottom-color:rgba(0, 0, 0, 0.1) }
.copyright {
	background:#fff;
	color:#aaa;
	padding:0;
	overflow:hidden;
	width:100%;
}
.copyright-padding { padding-bottom:65px }
.copyright-inner {
	margin:0 auto;
	max-width:1170px;
	padding:0;
	width:100%;
}
.copyright-text {
    float:left;
    padding:25px 0
}
.copyright-text p { margin-bottom: 0 }
.back-to-top {
	cursor:pointer;
    position:fixed;
    bottom:8em;
    right:25px;
    text-decoration:none;
    color:#000000;
    background-color:rgba(235, 235, 235, 0.80);
    font-size:12px;
    padding:10px 15px;
    display:none;
	-webkit-border-radius:40px;
	 -moz-border-radius:40px;
		  border-radius:40px;
    -webkit-transition: background 0.25s linear;
	 -moz-transition: background 0.25s linear;
		  transition: background 0.25s linear;
}
.back-to-top:hover { background-color:rgba(135, 135, 135, 0.50); }
.back-to-top .icon-angle-up {
	color:#000;
	font-size:24px
}


/*-----------------------------------------------------------------------------------*/
/*	10. Widgets
/*-----------------------------------------------------------------------------------*/

/*-----------------------*/
/*	10.1. Default Widgets
/*-----------------------*/
.widget_archive li,
.widget_categories li {
	margin:0
}
.widget_archive li a,
.widget_categories .cat-item a {
	display:block;
	padding:4px 0
}
.cat-count {
	background:rgba(0, 0, 0, 0.1);
	color:rgba(0, 0, 0, 0.4);
	display:inline-block;
	float:right;
	font-size:11px;
	line-height:16px;
	margin:1px 0 0;
	padding:1px 8px;
	-webkit-border-radius:20%;
	 -moz-border-radius:20%;
		  border-radius:20%;
}
.cat-count {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.widget_archive a:hover .cat-count,
.widget_categories a:hover .cat-count {
	background:#99cc00;
	color:#fff
}
/*-----------------------*/
/*	10.2. Recent Posts
/*-----------------------*/
.recent-posts-widget {
	clear:both;
	padding:0
}
.category-posts,
.recent-posts,
.random-posts,
.widget .popular-posts {
	margin:0 !important;
	padding:0;
}
.category-posts li,
.recent-posts li,
.random-posts li,
.popular-posts li {
	list-style:none;
	margin-bottom:20px;
	overflow:hidden;
}

/*-----------------------*/
/*	10.3. Search Form
/*-----------------------*/
.searchform {
	padding:0;
	position:relative;
	width:100%
}
.searchform fieldset {
	color:#888;
}
.s {
	background:transparent;
	border:none;
    box-shadow:0 0 1px 0 rgba(0, 0, 0, 0.4) inset;
	color:#777;
	float:left;
	height:16px;
	margin:0;
	outline:0;
	padding:10px 0 9px 3%;
	width:85%;
}
.search-button {
	background:rgba(0, 0, 0, 0.08);
	border:none;
	color:#fff;
	cursor:pointer;
	display:block;
	float: left;
	font-size:12px;
	font-weight:700;
	min-width:13px;
	padding:0;
	height:35px;
	text-transform:uppercase;
	width:12%;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.search-button:hover { background: #000 }
header .searchform {
	background:transparent;
    display:none;
	float:right;
	padding:0;
    position:absolute;
    right:-50px;
	width:100%;
    z-index:99
}
header .searchform fieldset { border:0 }
header .s {
	background:#111;
	border:1px solid rgba(255, 255, 255, 0.08);
	float:left;
	right:50px;
	padding:15px 15px 15px 0;
	position:absolute;
	width:220px;
	text-indent:15px
}
header .search-button { 
	background:rgba(255,255,255,0.2);
	color:#fff;
    display:none;
	height:60px;
	width:50px;
	z-index:99
}
.header-search {
	float:right;
	position:relative
}
.header-search i {
    color:#000;
    cursor:pointer;
    padding:23px 15px 24px
}

/*-----------------------*/
/*	10.4. Tags Widget
/*-----------------------*/
.sidebar .tagcloud { overflow:hidden }
.tagcloud a {
	background:#fff;
	border:1px solid rgba(0, 0, 0, 0.1);
	color:#777 !important;
	display:block;
	float:left;
	font-size:12px !important;
	margin:0 4px 4px 0;
	padding:5px 12px 5px 12px;
	position:relative;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.tagcloud a:hover {
	background:#3a3a3a;
	color:#fff !important
}

/*-----------------------*/
/*	10.5. Subscribe Widget
/*-----------------------*/
.subscribe-widget {
	clear:both;
	float:left;
	width:100%;
}
.subscribe-widget form {
	padding:0;
	overflow:hidden
}
.subscribe-widget input[type=text],
.jetpack_subscription_widget input[type=text] {
	background-color:#fff;
	border:1px solid #e4e4e4;
	color:#777;
	float:left;
	height:16px;
	margin:0 0 10px;
	outline:0;
	padding:9px 0 8px;
	text-indent:10px;
	width:99.1%;
}
.subscribe-widget input[type=submit],
.jetpack_subscription_widget input[type=submit] {
	background-color:#000;
	border:0;
	color:#fff;
	cursor:pointer;
	display:block;
	float:left;
    font-size:12px;
	padding:0;
	text-align:center;
    text-transform:uppercase;
	width:100%;
	height:35px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.subscribe-widget input[type=submit]:hover,
.jetpack_subscription_widget input[type=submit]:hover {
	background-color:#1d1d1d;
	color:#fff
}
.footer .subscribe-widget input[type=text],
.footer .jetpack_subscription_widget input[type=text] {
	background:transparent;
	border:1px solid rgba(0, 0, 0, 0.11)
}

/*-----------------------*/
/*	10.6. Social Widget
/*-----------------------*/
.social-widget ul {
	margin:0;
	padding:0
}
.social-widget ul li {
	border:0 !important;
	float:left;
	font-size:14px;
	list-style-type:none;
	margin-bottom:4px !important;
	margin-left:2px;
	margin-right:2px;
	padding:0
}
.social-widget ul li span {
	color:#fff;
	float:left;
	font-size:16px;
	margin:0;
	width:40px;
	padding:12px 0;
	text-align:center
}
.social-widget ul li span {
	background:#f2f2f2;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.social-widget ul li.facebook span { background:#3b5999 }
.social-widget ul li.twitter span { background:#00aced }
.social-widget ul li.gplus span { background:#ff4444 }
.social-widget ul li.rss span { background:#ff8800 }
.social-widget ul li.pinterest span { background:#cc2127 }
.social-widget ul li.linkedin span { background:#017eb4 }
.social-widget ul li.flickr span { background:#fe0084 }
.social-widget ul li.instagram span { background:#854e3a }
.social-widget ul li.youtube span { background:#cc181e }
.social-widget ul li.tumblr span { background:#274057 }
.social-widget ul li.dribble span { background:#ea4c89 }
.social-widget ul li.git span { background:#333333 }
.social-widget ul li.xing span { background:#015960 }
.social-widget ul li:hover span { background:#fff }
.social-widget ul li:hover span { background:#262626 }

/*-----------------------*/
/*	10.7. 125x125 Ads
/*-----------------------*/
.ad-125-widget {
	clear:both;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:0;
}
.ad-125-widget ul,
.ad-125-widget li {
	border:0 !important;
	list-style:none;
	margin:0;
}
.ad-125-widget li {
	padding: 0;
    text-align: center;
	width: 46%
}
.ad-125-widget li.adleft {
	float:left;
	margin:0 0 10px;
}
.ad-125-widget li.adright {
	float:right;
	margin:0 0 10px;
}

/*-----------------------*/
/*	10.8. 160x600 Ads
/*-----------------------*/
.ad-widget-160 {
	clear:both;
	margin:0 auto 30px;
	width:160px
}

/*-----------------------*/
/*	10.9. 300x250 Ads
/*-----------------------*/
.ad-300-widget {
	clear:both;
	margin:0 auto 30px;
	max-width:300px;
	width:100%;
}

/*-----------------------*/
/*	10.10. Tabs
/*-----------------------*/
#tabs-widget {
	background:#fff;
	margin-bottom:30px;
	overflow:hidden;
}
#tabs {
    list-style:none;
	margin:0 0 20px;
	overflow:hidden;
}
#tabs li {
	border:0;
    display: inline;
	float:left;
	width:50%;
	margin:0;
	padding:0;
	position:relative;
}
#tabs li a {
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	color:#bbb;
	display:block;
	padding:0 0 10px;
	position:relative;
    text-decoration:none;
	overflow:hidden;
	text-transform:uppercase;
	width:100%;
}
#tabs li.recent-tab a { }
#tabs li.active a {
    border-color:#000;
    color:#000
}
#tabs-content ul {
	margin:0;
	padding:0
}
#tabs-content li { margin-bottom:20px }
#tabs-content li:last-child { margin-bottom:0 }
.tab-content { display: none }
.tabs-meta { display:block }
.comment-text {
	color:#777;
	display:block;
	font-size:12px
}

/*-----------------------*/
/*	10.11. Popular Posts
/*-----------------------*/
.widgetthumb {
	float:left;
	margin:4px 10px 0 0;
	width:100%
}
.thumbnail-big .widgetthumb { margin: 0 0 10px 0 }
.popular-posts { display:block }
.thumbnail {
	float:left;
	margin-right:10px;
	position:relative;
	max-width:27.5%;
	width:65px
}
.thumbnail-big {
	float:none;
	margin:0;
	max-width:100%;
	width:100%
}
.info {
	overflow: hidden;
}
.widgettitle {
	display:block;
	font-size:14px;
	font-weight:700;
	line-height:20px;
	margin-bottom: 5px
}
.meta,
.r-meta {
	color:#999;
	display:block;
	font-size:12px;
    text-align:left !important
}
.meta a { color:#999 }
.meta .post-author,
.meta .post-comments,
.meta .widget-cats,
.meta time { margin-right:10px }

/*-----------------------*/
/*	10.12. Flickr
/*-----------------------*/
.flickr_badge_image {
	display:inline;
	margin:0
}
.flickr_badge_image img {
	float:left;
	margin:0 0 6px;
	padding:0 3px
}

/*-----------------------*/
/*	10.13. Calendar Widget
/*-----------------------*/
#wp-calendar {
	background:#f3f3f3;
	width:100%
}
#wp-calendar caption,
#wp-calendar th,
#wp-calendar td {
	text-align:center
}
#wp-calendar th {
	background:rgba(255,136,16,0.6);
	color:#fff;
	padding:10px 0;
}
#wp-calendar td {
	padding:10px 0;
}
#wp-calendar caption {
	background:#ff8800;
	color:#fff;
	font-size:14px;
	padding:10px 0;
	text-transform:uppercase
}
#wp-calendar tbody tr:nth-child(2n) {
	background:#f9f9f9
}
#wp-calendar tfoot a {
	font-weight:700;
	text-transform:uppercase
}
#wp-calendar tfoot tr td {
	padding-left:10px;
	text-align:left
}
#wp-calendar td#today,
#wp-calendar td#today a { color:#fff !important }

/*-----------------------------------------------------------------------------------*/
/*	11. Other Styles
/*-----------------------------------------------------------------------------------*/

/*-----------------------*/
/*	11.1. Contact Form 7
/*-----------------------*/
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="url"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="date"],
.wpcf7 input[type="number"],
.wpcf7 textarea {
	background:#f2f2f2;
	border:1px solid rgba(0,0,0,0.1);
	padding:8px 10px
}
.wpcf7-submit {
	background:#262626;
	border:0;
	color:#fff;
	cursor:pointer;
	font-weight:700;
	padding:8px 16px;
	text-transform:uppercase
}
.wpcf7-submit:hover { background:#000 }

/*-----------------------*/
/*	11.2. Magnific Popup
/*-----------------------*/
.mfp-bg{
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1042;
	overflow:hidden;
	position:fixed;
	background:#0b0b0b;
	opacity:0.8;
}
.mfp-wrap{
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1043;
	position:fixed;
	outline:0!important;
	-webkit-backface-visibility:hidden
}
.mfp-container{
	text-align:center;
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	padding:0 8px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.mfp-container:before{
	content:'';
	display:inline-block;
	height:100%;
	vertical-align:middle
}
.mfp-align-top .mfp-container:before{ display:none }
.mfp-content{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	margin:0 auto;
	text-align:left;
	z-index:1045
}
.mfp-ajax-holder .mfp-content,
.mfp-inline-holder .mfp-content{
	width:100%;
	cursor:auto
}
.mfp-ajax-cur{ cursor:progress }
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close{
	cursor:-moz-zoom-out;
	cursor:-webkit-zoom-out;
	cursor:zoom-out
}
.mfp-zoom{
	cursor:pointer;
	cursor:-webkit-zoom-in;
	cursor:-moz-zoom-in;
	cursor:zoom-in
}
.mfp-auto-cursor .mfp-content { cursor:auto }
.mfp-arrow,
.mfp-close,
.mfp-counter,
.mfp-preloader {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none
}
.mfp-loading.mfp-figure { display:none }
.mfp-hide { display:none!important }
.mfp-preloader {
	color:#ccc;
	position:absolute;
	top:50%;
	width:auto;
	text-align:center;
	margin-top:-.8em;
	left:8px;
	right:8px;
	z-index:1044
}
.mfp-preloader a { color:#ccc }
.mfp-preloader a:hover { color:#fff }
.mfp-s-error .mfp-content,
.mfp-s-ready .mfp-preloader { display:none }
button.mfp-arrow,
button.mfp-close {
	overflow:visible;
	cursor:pointer;
	background:0 0;
	border:0;
	-webkit-appearance:none;
	display:block;
	outline:0;
	padding:0;
	z-index:1046;
	-webkit-box-shadow:none;
	box-shadow:none
}
button::-moz-focus-inner { 
	padding:0;
	border:0
}
.mfp-close {
	width:44px;
	height:44px;
	line-height:44px;
	position:absolute;
	right:0;
	top:0;
	text-decoration:none;
	text-align:center;
	opacity:.65;
	padding:0 0 18px 10px;
	color:#fff;
	font-style:normal;
	font-size:28px;
	font-family:Arial,Baskerville,monospace
}
.mfp-close:focus,
.mfp-close:hover { opacity:1 }
.mfp-close:active { top:1px }
.mfp-close-btn-in .mfp-close { color:#333 }
.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close{
	color:#fff;
	right:-6px;
	text-align:right;
	padding-right:6px;
	width:100%
}
.mfp-counter{
	position:absolute;
	top:0;
	right:0;
	color:#ccc;
	font-size:12px;
	line-height:18px
}
.mfp-arrow{
	position:absolute;
	opacity:.65;
	margin:0;
	top:50%;
	margin-top:-55px;
	padding:0;
	width:90px;
	height:110px;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
.mfp-arrow:active{ margin-top:-54px }
.mfp-arrow:focus,
.mfp-arrow:hover{ opacity:1 }
.mfp-arrow .mfp-a,
.mfp-arrow .mfp-b,
.mfp-arrow:after,
.mfp-arrow:before{
	content:'';
	display:block;
	width:0;
	height:0;
	position:absolute;
	left:0;
	top:0;
	margin-top:35px;
	margin-left:35px;
	border:medium inset transparent
}
.mfp-arrow .mfp-a,.mfp-arrow:after {
	border-top-width:13px;
	border-bottom-width:13px;
	top:8px
}
.mfp-arrow .mfp-b,.mfp-arrow:before {
	border-top-width:21px;
	border-bottom-width:21px;
	opacity:.7
}
.mfp-arrow-left{left:0}
.mfp-arrow-left .mfp-a,
.mfp-arrow-left:after {
	border-right:17px solid #fff;
	margin-left:31px
}
.mfp-arrow-left .mfp-b,
.mfp-arrow-left:before{
	margin-left:25px;
	border-right:27px solid #3f3f3f
}
.mfp-arrow-right{ right:0 }
.mfp-arrow-right .mfp-a,
.mfp-arrow-right:after{border-left:17px solid #fff;margin-left:39px}
.mfp-arrow-right .mfp-b,
.mfp-arrow-right:before{ border-left:27px solid #3f3f3f }
.mfp-iframe-holder{
	padding-top:40px;
	padding-bottom:40px
}
.mfp-iframe-holder .mfp-content{
	line-height:0;
	width:100%;
	max-width:900px
}
.mfp-iframe-holder .mfp-close{top:-40px}
.mfp-iframe-scaler{
	width:100%;
	height:0;
	overflow:hidden;
	padding-top:56.25%
}
.mfp-iframe-scaler iframe {
	position:absolute;
	display:block;
	top:0;
	left:0;
	width:100%;
	height:100%;
	box-shadow:0 0 8px rgba(0,0,0,.6);
	background:#000
}
img.mfp-img{
	width:auto;
	max-width:100%;
	height:auto;
	display:block;
	line-height:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:40px 0;
	margin:0 auto
}
.mfp-figure{line-height:0}
.mfp-figure:after{
	content:'';
	position:absolute;
	left:0;
	top:40px;
	bottom:40px;
	display:block;
	right:0;
	width:auto;
	height:auto;
	z-index:-1;
	box-shadow:0 0 8px rgba(0,0,0,.6);
	background:#444
}
.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}
.mfp-figure figure{margin:0}
.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}
.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px}
.mfp-image-holder .mfp-content{max-width:100%}
.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
	.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}
	.mfp-img-mobile img.mfp-img{padding:0}
	.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}
	.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}
	.mfp-img-mobile .mfp-bottom-bar{
		background:rgba(0,0,0,.6);
		bottom:0;
		margin:0;
		top:auto;
		padding:3px 5px;
		position:fixed;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box
	}
	.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}
	.mfp-img-mobile .mfp-counter{right:5px;top:3px}
	.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}
}
@media all and (max-width: 900px) {
	.mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75)}
	.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}
	.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}
	.mfp-container{padding-left:6px;padding-right:6px}
}
.mfp-ie7 .mfp-img{padding:0}
.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}
.mfp-ie7 .mfp-container{padding:0}
.mfp-ie7 .mfp-content{padding-top:44px}
.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}

/*------------------------------*/
/*	11.4. JetPack Related Styles
/*------------------------------*/
.post .sd-content ul li:before { display: none }

/*------------------------------*/
/*	11.5. Diqus Comments
/*------------------------------*/
#disqus_thread {
    padding: 20px
}