<?php
/**
 * Magento
 *
 * Author: Magerips
 * Website: www.magerips.com 
 * Suport Email: support@magerips.com
 *
**/
 $newsletterObj = new Rp_Newsletterunsubscribe_Block_Newsletterunsubscribeoverride(); ?>

<div class="col-main">
  <div id="messages_product_view"></div>
  <div class="page-title">
    <h1>Unsubscribe from Newsletter</h1>
  </div>
  <form action="<?php echo $newsletterObj->getNewsletterunsubscribeFormActionUrl() ?>" method="post" name="unsubscribe-newsletter-validate" id="unsubscribe-newsletter-validate">
    <div class="fieldset">
      <p><?php echo $this->__('Submit your email address to unsubscribe from newsletter') ?></p>
      <ul class="form-list">
        <li class="fields">
          <div class="field">
            <div class="input-box">
              <input type="text" name="email" id="newsletter" title="<?php echo $this->__('Unsunscribe newsletter') ?>" class="input-text required-entry validate-email" />
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="buttons-set">
      <input type="text" style="display:none !important;" value="" id="hideit" name="hideit">
      <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
    </div>
  </form>
  <script type="text/javascript" language="javascript">
	//<![CDATA[
	var newsletterSubscriberFormDetail = new VarienForm("unsubscribe-newsletter-validate");
	//]]>
    </script> 
</div>
