/*email.css - custom made css for Kurzzug transactional emails*/

.mail {
  width:600px;
}

.logo-container {
  width:100%;
}

.logo {
  text-align: center;
}


/*Tablica*/

.address-details {
  padding-top: 10px;
}

.address-details,
.method-info {
  text-align: left;
  padding: 10px 15px 0;
}

.address-details h4,
.method-info h4 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 5px;
  text-transform: uppercase;
}

.address-details p {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 15px;
  margin-top: 2px;
}

.method-info {
  padding-bottom: 10px;
}

.method-info p {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 30px;
  line-height: 18px;
}