body {background:#d4d8d7; font-family: "RBNo21a-Light";  font-size:24px; color: #353636;}

a,
a:active,
a:focus,
a:hover{ outline:0; color:#353636; font-size: 1em;}
.wrapper {padding:0}
.button {border:1px solid; background: transparent; color: #353636; padding: 5px;}
.btn-proceed-checkout{ background-color: #008000 !important;}
.btn-proceed-checkout span{ color: #fff; }
.button:hover, .button:active { border-bottom: 3px double; border-spacing: 4px; text-decoration: none; color: #353636; cursor: pointer; }
.btn-primary { background: #3e4f5d; color:#ffffff; border:0; }
.btn-primary:hover,
.btn-primary:active{ border: 0; color:#ffffff; }


ul.messages { list-style-type: none; padding: 0 }
ul.messages li.error-msg ul{ list-style-type: none; padding: 0 }
ul.messages li.error-msg span{ color:#ff5d00; }
ul.messages li.success-msg ul { list-style-type: none; padding:0; }
ul.messages li.success-msg span { color: #008800; }



header { width:100%; position:relative;}
.header-container.row{ margin:0; }

.logo { position:absolute; left:50%; margin:0; margin-left:-80px; top: -6px; width:160px; }
.cms-home .logo { top:-3px; }

.navbar-default {border-color:transparent; background:transparent; float:right; margin-top:90px;}
.navbar-nav>li {width: 90px;}
.navbar-default .navbar-nav>li>a { padding-bottom: 5px; padding-left: 0px; margin-right:10px; color:#353636; text-decoration:none; border-bottom: 1px solid #353636}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {background: transparent; border-bottom: 3px double;}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form{ border-color:transparent; }
.navbar-default .navbar-toggle { color:#353636; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background: transparent }

.quick-access {margin-top:90px; margin-right:5%; max-width:120px;}
.quick-access ul {list-style-type: none; padding:0 }
.quick-access ul li { margin-bottom:5px; height: 35px}
.quick-access ul li a {display: inline-block; line-height: 30px;border:1px solid #353636; color: #353636; padding: 0 5px; text-decoration:none}
.quick-access ul li a:hover { border-bottom: 3px double; }
.no-display { display: none !important;}


.main-container { margin-top: 80px; }
/*slider*/
.flexslider { position:relative; }
.flexslider ul { list-style-type: none; padding:0 0px; }
.flexslider ul.flex-direction-nav { list-style-type: none; padding:0 20px; }
.flexslider ul li { position: relative; }
/*.flexslider ul li .image { text-align: center; }*/
.flexslider ul li img { max-width: 100%; max-height: 532px; }
.flexslider ul li .details { position: absolute; top: 35%; left: auto; right: -10%; margin-bottom: 25px; }
.flexslider ul li .details div { line-height: 26px; }
.flexslider ul li .details .more { height: 43px; margin-left:-34px; }
.flexslider ul li .details .more .row:before,
.flexslider ul li .details .more .row::before{ height: 74px; margin-right:-1px; float:left; width: 33px; background: url('img/kosa.png') no-repeat right bottom;  }
.flexslider ul li .details .more a { display: block; float:left; height: 40px; line-height: 26px; }
.flexslider ul li .details .more a:active { text-decoration: none; }

.flexslider .flex-direction-nav { position: absolute; top:50%; width: 100%; margin-top:-20px; }
.flexslider .flex-direction-nav li { float:left; width: 50%; }
.flexslider .flex-direction-nav li a { text-indent: -10000px; display: block; width: 25px; height: 35px; background: url('img/arrows.png') no-repeat 0 bottom; }
.flexslider .flex-direction-nav li a:hover { text-indent: -10000px; display: block; width: 25px; height: 35px; background: url('img/arrows-hover.png') no-repeat 0 bottom; }
.flexslider .flex-direction-nav li a.flex-next { float:right; background-position:0 0;  }
.flexslider .product-name{ font-family: "RBNo21a-Book",sans-serif; }


/*product list*/

ul.products-list {list-style-type: none; padding:0}
ul.products-list li.item { margin-bottom: 15px; border-bottom: 1px dotted #000000; padding-bottom: 15px; }
ul.products-list li.item.last { border: 0; }
ul.products-list .item h2 { font-family: "RBNo21a-Book", sans-serif; }
p.action:before,p.action::before
{background: url('img/kosa.png') no-repeat right bottom; margin-right: -1px; float: left; width: 34px; height:77px }
p.row.action {margin-left: -35px; margin-bottom: 0;}

/*p.button {border:1px solid; background: transparent; color: #353636; padding: 5px;}*/
/*p.button:hover, p.button:active { border-bottom: 3px double; border-spacing: 4px; text-decoration: none; color: #353636; cursor: pointer; }*/

p.add-to { margin-left: -34px; }
p.add-to .row { margin-left: 0; }
p.add-to .row:before,
p.add-to .row::before {background: url('img/kosa.png') no-repeat right bottom;float: left;margin-right:-1px; width: 33px; height:80px }
p.row.add-to .row{margin-left: -35px; margin-bottom: 0;}
.add-to-cart input{width: 50px; text-align:center; border: none; margin-bottom: 10px;}
.extra-info p {margin:0;}
.product-view p.add-to .btn-cart { padding-right: 15px; padding-left: 15px; }


.validation-advice { color: #ff5d00; }

ul.products-list .item { padding: 80px 0; }
ul.products-list .product-image { margin-top:-20px; }
ul.products-list .desc p { margin: 0; }
ul.products-list .swatch { margin-top: 80px; }

div.attachment-specs .data-table td.label span.attach-title { font-size: 1em; }

.product-image{text-align: center}
.product-image img { width: 90%; }

.product-image-gallery {
    position: relative;
}
.product-image-gallery .gallery-image {
    display: none;
}
.product-image-gallery .gallery-image.visible {
    display: block;
}
.product-image-gallery .gallery-image.visible.hidden {
    visibility: hidden;
}
.product-image-gallery:before, .product-image-gallery:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
.product-image-gallery:before {
    background-color: white;
    opacity: 0.8;
    z-index: 2;
}
.product-image-gallery:after {
    background-image: url("../images/opc-ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}
.product-image-gallery.loading {
    position: relative;
}
.product-image-gallery.loading:before, .product-image-gallery.loading:after {
    display: block;
}

.product-image-thumbs li {
    display: inline-block;
}
.product-image-thumbs li:first-child {
    margin-left: -1px;
}
.product-image-thumbs a {
    display: inline-block;
    border: 1px solid transparent;
}

.no-touch .product-image-thumbs a:hover {
    border-color: #c7c7c7;
}

.product-view .qty-wrapper input { border: 1px solid #353636;}
.product-view .qty-wrapper label { font-weight: normal; }
.product-view .product-name { font-family: "RBNo21a-Book", sans-serif; margin-bottom: 25px;}
.more-det { text-decoration: underline; cursor: pointer; font-family: "RBNo21a-Book", sans-serif; }
.more-views.closed { display: none; }
.more-views.opend{ display: block; }
.product-view .product-image img { top: 30px !important; width: 90%; height: auto; }

.price-box-bundle {float:left; margin-right:5px;}

.big-desc{width:100%; text-align: center; border-top: 1px dotted; border-bottom: 1px dotted !important; float:left;  margin: 50px 0 30px; padding: 30px 0; }
.big-desc h2,
.big-desc h3 { text-transform: uppercase; font-size: 1.5em;  }

.inchoo_prevnext a { text-decoration: underline !important; }

.std.closed {  overflow:hidden; }
.prod-attach .attach-img { display: none; }
.prod-attach span { text-decoration : underline; cursor: pointer; font-family: "RBNo21a-Book", sans-serif; }



h2.product-name {padding: 0; margin:0; font-size: 24px; }
h2.product-name a {text-decoration: none; color: #353636}

ul.configurable-swatch-color {list-style-type: none ; padding: 0px}
ul.configurable-swatch-color li {float: left;}
ul.configurable-swatch-color li a {display: block; text-indent: -10000px; width: 17px; background: url("img/blue_03.png") 0 0 no-repeat;}
ul.configurable-swatch-color li.option-braun a {background: url("img/brown_03.png") 0 0 no-repeat;}
ul.configurable-swatch-color li.option-gr-n a {background: url("img/olive_03.png") 0 0 no-repeat;}
ul.configurable-swatch-color li.option-rosa a {background: url("img/turq_03.png") 0 0 no-repeat;}

footer {background:#3e4f5d; color: #ffffff; margin: 0px 30px }
.footer-container {background: #3e4f5d; margin: 0; }

.bottom-container { margin: 50px 0 0; padding: 0; }
.bottom-container img { width: 100%; height: auto; }
.bottom-container ul { list-style-type: none; padding: 0; margin: 0 }
.bottom-container ul li { width: 100%; }
.footer-block { padding: 25px 0; }
.footer-block .title {text-transform: uppercase; margin: 65px 0px 40px; font-family: "RBNo21a-Book",sans-serif;}
.footer-block .title a,
.footer-block .title a:hover,
.footer-block .title a:focus { color:#ffffff; text-decoration:none; cursor: pointer; }
.footer-block .content ul {list-style-type: none; padding: 0px}
.footer-block .content ul li {}
.footer-block .content a {color: #ffffff; text-decoration: none}
.footer-block .content p {margin: 0px}
.footer-block .preisse-text { padding: 10px 0 15px; border-top: 1px dotted #d4d8d7; border-bottom: 1px dotted #d4d8d7; }
address {margin-bottom: 0px}

/*CART*/
.cart h1 {font-size: 40px!important; font-family: "RBNo21a-Book", sans-serif; text-align: center; text-transform: uppercase; font-weight: normal; line-height: normal;}
.table { border-collapse: separate; border-spacing: 1px 4px; }
.table tbody { }
.table>tbody>tr, .table>tfoot>tr {  }
.table>tbody>tr>td,
.table>tfoot>tr>td {  border-top:1px dotted #353636; vertical-align: middle; }
.table>tfoot>tr span {font-family: "RBNo21a-Book", sans-serif  }
.table>tbody>tr.last>td { border-bottom:1px dotted #353636;}
.table>thead>tr>th{  border-top:0;  border-bottom:1px dotted #353636; }
.table>tbody>tr>td a {display:block; color:#353636; text-decoration: underline; font-family: "RBNo21a-Book", sans-serif; }
.checkout-cart-index .table>tbody>tr>td .btn-edit,
.checkout-cart-index .table>tbody>tr>td .btn-remove{display: none !important;}
.opc-index-index .table>tbody>tr .a-center a{display: none;}
.input-cart {border: 1px solid; background: transparent; text-align: center; }
.btn-empty {background: transparent; border: none !important; text-decoration: underline; padding: 0}
.sku a,
.sku p {font-family: "RBNo21a-Light", sans-serif!important; text-decoration: none!important; margin: 0!important;}

.opc-wrapper-opc #checkout-review-table-wrapper.table-responsive { max-height: 100% !important; }
ul.checkout-types {margin: 0; padding: 0; list-style-type: none; height:50px;}
.cart ul.checkout-types { display: block; text-align: center; width: 100%; margin-left: 0px; }
li.checkout-types {display: inline-block;}
.btn-checkout,
.btn-update,
.btn-cont {background: transparent; border: 1px solid; text-transform: uppercase;padding: 10px;}
/*.btn-cont {padding:15px 10px}*/
.checkout-onepage-success .container { padding-bottom: 25px; }
/*OnePageCheckout*/
/*#opc-review-block {position: static !important; width: 100% !important; background: transparent !important;}*/
.opc-wrapper-opc h3 {font-size: 40px!important; font-family: "RBNo21a-Book", sans-serif; text-align: center; text-transform: uppercase; font-weight: normal; line-height: normal;}
.opc-wrapper-opc .fields .field{ float:left; width: 48%; margin:1% }
.opc-wrapper-opc select {border: none !important; width: 100% !important;height: 36px!important;line-height: 36px;text-indent: 5px;}
.opc-wrapper-opc input {border:none; text-indent: 10px; background: #ffffff !important;}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #353636;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #353636;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #353636;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #353636;
    vertical-align: middle;
}
.checkbox {text-align: center; font-size: 24px;}
.opc-wrapper-opc label { padding-right: 30px; font-size: 24px !important; position:relative}
.checkbox input[type=checkbox] {right: 0; top: 2px; border: 1px solid #353636; background: #d4d8d7 !important; width: 22px; height: 22px;}

li.login-box input {border: 1px solid #353536;margin-bottom:10px;}
.md-content-wrapper {padding: 0 20px !important;}
.at_PinItButton { margin: 5px !important; }
.opc-menu .messages { list-style-type : none; color: #ff5d00; padding: 0; }
.opc-menu .messages ul { list-style-type : none; color: #ff5d00; padding: 0; }
.opc-menu .messages ul span { color: #ff5d00 !important; padding: 0; }

.opc-wrapper-opc *{color:#353636! important; font-size: 24px !important;}
/*.opc-wrapper-opc dt {width: 199px; }*/
/*.opc-wrapper-opc dt.last { }*/
.opc-wrapper-opc .opc-review-actions .view-agreement {font-size: 24px !important;}
.opc-wrapper-opc .login-trigger {background-color: #3e4f5d !important; color:#ffffff !important; margin: 0 auto; width:200px !important;}
.opc-wrapper-opc .btn-checkout {background-color: #008000 !important; color:#ffffff !important; margin: 0 auto; max-width: 300px}

.opc-wrapper-opc .payment-block dd {position: relative !important; top:70px;}
#checkout-payment-method-load {position: relative; padding-bottom: 50px;}
select#ccsave_expiration {margin-bottom: 4%;}

.opc-wrapper-opc .method.active button { border-bottom: 3px double; }
.opc-wrapper-opc .opc-review-actions .agreement-content {text-align: center}

.validate-cc-type-select select {border: none !important; width: 250px!important; height: 36px!important;line-height: 36px;text-indent: 5px;}

.account-login input { width: 250px; text-indent: 10px; margin-bottom: 10px; color: #353636 !important; background: #ffffff !important; border: none;}
.account-login a {text-decoration: none; color:#353636;}
.account-login .button {width: 200px;text-align: center;}
.account-login form {border-bottom: 1px dotted; border-top: 1px dotted; margin: 4px 0; padding: 20px 0 50px;}
.account-login h3 {border-bottom: 1px dotted; padding-bottom: 40px;}
.account-login .buttons-set {height:40px}
.account-login .messages {color: #ff5d00; font-size: 20px; list-style-type: none; margin:0; padding: 15px 0; font-weight: bold; }
.account-login .validation-advice {color: #ff5d00; font-size: 20px; list-style-type: none; margin:0 0 20px; padding:0; font-weight: bold; }
.account-login .messages ul {list-style-type: none; margin: 0; padding: 0}

.account-create {padding-bottom: 5px;}
.account-create form {border-bottom: 1px dotted; border-top: 1px dotted; margin: 4px 0; padding: 20px 0 50px;}
.account-create h3 {border-bottom: 1px dotted; padding-bottom: 40px;}
.account-create input {border:none; text-indent: 10px; background: #ffffff !important; width: 100%; margin: 1%;}
.account-create label { padding-right: 35px; position:relative; font-weight: normal; height: 30px; line-height: 30px;}
.account-create .button {width: 200px; text-transform: lowercase; text-align: center; display: block; margin: 0 auto;}
.account-create a {text-decoration: none; color:#353636;}
.account-create .buttons-set {height:80px}
.account-create .validation-advice {color: #ff5d00; font-size: 20px; list-style-type: none; margin:0 0 20px; padding:0; font-weight: bold; }

.forgot {border-bottom: 1px dotted #353636; padding-bottom: 5px;}
.forgot h3 {border-bottom: 1px dotted; padding-bottom: 40px;}
.forgot .button {width: 200px; text-align: center; display: block; margin: 0 auto;}
.forgot input { width: 250px; text-indent: 10px; margin-bottom: 10px; color: #353636 !important; background: #ffffff !important; border: none;}
.forgot form {border-bottom: 1px dotted; border-top: 1px dotted; margin: 4px 0; padding: 20px 0 50px;}
.forgot a {text-decoration: none; color:#353636;}
.forgot .buttons-set {height:120px}

.contact {border-bottom: 1px dotted #353636; padding-bottom: 5px;}
.contact h3 {border-bottom: 1px dotted; padding-bottom: 40px;}
.contact .button {width: 200px; text-align: center; display: block; margin: 0 auto;}
.contact input { width: 100%; text-indent: 10px; margin-bottom: 10px; color: #353636 !important; background: #ffffff !important; border: none;}
.contact form {border-bottom: 1px dotted; border-top: 1px dotted; margin: 4px 0; padding: 20px 0 50px;}
.contact a {text-decoration: none; color:#353636;}
.contact .buttons-set {height:120px}
.contact textarea {width: 100%; border:none; text-indent: 10px;}

.dashboard a {border-bottom: 1px solid #353636; color: #353636;}
.dashboard li span,
.dashboard a:hover,
.dashboard a:focus {border-bottom: 3px double #353636; color: #353636; text-decoration: none}

a.order-a {border-bottom: 1px solid #353636; color: #353636;}
a:hover.order-a,
a:active.order-a,
a:focus.order-a {border-bottom: 3px double #353636; color: #353636; text-decoration: none}

.control label { padding-right: 35px; position:relative; font-weight: normal; height: 30px; line-height: 30px;}
.control input[type=checkbox] {right: 0; top: 2px; width: 22px; height: 22px; position: absolute}
.maraddress .control input[type=checkbox] {top: 3px}
.maraddress li.control {position:relative}

.back-link a {border-bottom: 1px solid #353636; color: #353636;}
.back-link a:hover,
.back-link a:focus {border-bottom: 3px double #353636; color: #353636; text-decoration: none}

.my-account { padding:0 15px 25px; }
.my-account input{width: 250px; text-indent: 10px; border: none; margin-bottom: 10px;}
.my-account .button {width: 200px; text-align: center; display: block; margin: 20px auto; height: 46px;}
.my-account select {width: 250px; text-indent: 10px; border: none; margin-bottom: 10px;}
.my-account ul {list-style-type: none}

.newsletter input{width: 250px; text-indent: 10px; border: none; margin-bottom: 10px;}
.newsletter .buttons-set {height:120px;}
.newsletter-unsubscribe { text-align: center; }
.newsletter-unsubscribe h3 { text-transform: uppercase; }
.newsletter-unsubscribe .input-box { margin-bottom: 10px; }
.newsletter-unsubscribe input { border: 0; text-indent:10px; min-width: 200px; }
.newsletter-unsubscribe .actions { height: 50px; }

.box-account .col-2set { padding-bottom: 25px; }
.box-title h3 {  font-weight: 700}

/*.cms {text-align: center}*/
h3.cms {border-bottom: 1px dotted; padding: 40px 0;}
.cmsl {border-top: 1px dotted; border-bottom: 1px dotted; padding: 20px 0;}
.cmsc {border-top: 1px dotted; border-bottom: 1px dotted; margin: 40px 0; padding: 40px 0; text-align: center}
.cmsend {border-top: 1px dotted; margin-top: 10px}
.cmsmid {border-top: 1px dotted; margin: 120px 0px 80px;}
img.cms {text-align: center; width: 100%}
img.mat {text-align: center; width: 50%}
.img-cms { text-align: center; margin:0;}
.cms-page-view img { width: 100%; }
.cms-page-view .logo img { width: 128px; }
.cms-manufaktur .bottom-container,
.cms-material .bottom-container{ display: none; }
.cms-manufaktur h3,
.cms-material h3,
.cms-philosophie h3,
.cms-team .sec-title,
.cms-presse h3,
.cms-hgf h3{ font-family: "RBNo21a-Light", sans-serif; font-size: 1.5em !important; }
.cms-presse .cont { margin-top: 20px; margin-bottom: 30px; }
.cms-presse .buttons-set { height: 50px; margin-bottom: 30px;}
.cms-presse .button { padding: 10px 35px; }
.limiter select {width:60px;}
.cms-hgf .cmsl p { margin: 15px 0; display: block; width: 100%; float:left;}
.cms-material .img-cms { text-align: center; }
.cms-material .img-cms.up img { width: 60%; }

.vert-link a { cursor: pointer; color:#ffffff; border:1px solid #d4d8d7; padding: 10px; border-top: 0; display: inline; margin: 0 10px; }
.vert-link{ background:#3e4f5d; padding: 0 0 20px; width: auto; margin-left: -85px; position: fixed; left: 0; top: 50%;  transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:right, top;}
.vert-link a, .vert-link a:hover, .vert-link a:active { text-decoration: none; }

/*Newsletter*/
.modal-content {text-align: center;}
.modal-header {height: 200px; border-bottom: none}
#newsmodal .modal-content{ background-color: #d5d8d7; border-radius: 0; border: 10px solid #3e4f5d;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}
#newsmodal .modal-dialog { width: 900px; }
#newsmodal h1.block-title {font-size: 40px!important; font-family: "RBNo21a-Book", sans-serif; padding: 20px 0; text-align: center; text-transform: uppercase; font-weight: normal; line-height: normal; border-bottom: 1px dotted;padding: 20px 0;}
#newsmodal .logo { width: 120px; margin-left: -60px; top:0px; }
#newsmodal .shadow { box-shadow: 0 0 10px #353535; width: 100%; }
#newsmodal form { max-width: 600px; margin: 0px auto; padding-bottom: 30px; }
#newsmodal .form-w { width: 332px; margin: 0 auto; }
#newsmodal .modal-body p {border-top: 1px dotted; text-align: center; margin: 10px 0; padding-top: 10px;}
#newsmodal .modal-body input {border: 0; width:100%; text-indent: 10px; margin-bottom: 10px;}
#newsmodal .modal-body select{outline: 0;border: 0; width: 100%; text-indent: 7px; margin-bottom: 10px;}
#newsmodal .modal-footer {text-align: center; border: 0; height: 80px;}
#newsmodal ul { list-style-type: none; padding: 0; margin: 0 auto; }
#newsmodal .form-w h3 { text-align: left; }
#newsmodal .modal-header button.close { background: url(../images/closen.png) no-repeat 0 0; width: 26px; height: 26px; }
#newsmodal .modal-header button.close span { background: transparent; }
.modal-footer .button {text-transform: uppercase;}


.bottom-container p { margin-bottom:0; }

.fb-like {top:-8px}

.crta {border-top: 1px dotted #353536; margin-top: 20px; margin-bottom: 20px;}
hr {border-top: 1px dotted #353536; margin-top: 20px; margin-bottom: 20px;}


button.zatvor {display: none}
.mehr {overflow: hidden}

.opc-index-index .btn-remove{display: none;}
.opc-index-index .payment-block .active .button{ background-color: #008000 !important; color: #fff !important; border-color: #000 !important;}


/*media queries*/

@media (max-width:1350px){
    body { font-size: 22px; }
    .navbar-nav>li { width: 75px; }
    .vert-link { margin-left: -80px; }
}

@media (max-width: 1287px){
    body{ font-size: 20px; }
    .navbar-nav>li{ width: 74px; }
    .vert-link { margin-left: -85px; }
    p.action:before { height: 66px; }
}

@media (max-width: 1200px){
    body{ font-size: 24px; }
    .navbar-default{ float:left; margin-left: 25px; }
    .navbar-nav ul.nav { width: 100%;  position: absolute; }
    .navbar-nav>li { width: 100%; }
    .navbar-default .collapsed { border:0; }
    p.action:before { height: 70px;}
    .products-list .item .col-md-2 { padding-left: 25px;}
    .opc-wrapper-opc dt { margin-right: 1.3% !important; }
    .opc-wrapper-opc dt.last { margin-right: 0 !important; }

    .navbar-toggle .icon-bar { width: 40px; color: #000000; border: 0;}
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus { border:0; }
    .navbar-collapse { position: absolute; border-top: 0; background:#3e4f5d; z-index: 10000; }

    .navbar-nav li { border-bottom:0; }
    .navbar-nav li a {color: #ffffff !important; margin: 10px 0; text-align: center; border:0 !important;}

    #newsmodal .modal-dialog { width: 600px; }

    button.zatvor {background: transparent;border: 0; color: white; line-height: 0.5em; font-size: 2em; float: right; display: block}
}

@media (max-width: 1024px){
    .vert-link a{ font-size:0.9em; }
    .product-view .product-image #image { max-width: 90%; left:0px !important; }
    .product-view .product-image { text-align: center; }
}

@media (max-width: 992px){

    .flexslider ul li .details { float:left; top: 0; left:0; position: relative; margin-left: 15px; padding-bottom: 65px;}

    .flexslider ul li .image { float: right; }
    .flexslider ul li .details .more { position: absolute; bottom:0; margin-left: 15px; }
    .flexslider ul li .details .more a{ margin-left: -15px; }
    .flexslider ul li .details .more .row { height: 40px; }
    .flexslider ul li .details .more .row:before { width:0;height:0; background: transparent; }
    .flexslider ul li .details .more .row:after { width:34px; height: 32px; float:right; margin-right: -32px; background: url(img/iskosa.png) no-repeat 0 bottom; }

    .vert-link{ margin-left: -80px }
    .navbar-toggle .icon-bar { width: 40px; color: #000000;}
    .navbar-collapse { position: absolute; border-top: 0; background:#3e4f5d; z-index: 10000; }

    .navbar-nav li { border-bottom:0; }
    .navbar-nav li a {color: #ffffff !important; margin: 10px 0; text-align: center; border:0 !important;}

    .products-list .item { position: relative; }
    .products-list .item .col-md-2{ position: absolute; top:110px; left: -10px; padding-bottom: 65px; }

    /*.products-list .item .col-md-3 { margin-top: 120px; position:relative; }*/
    .products-list .item .col-md-3 .desc{ display: none;  }
    .products-list p.action { position: absolute; bottom: -15px; left: 60px;}
    .products-list p.action:before { height:0; width:0; background: transparent; }
    .products-list p.action:after { margin-right: -33px;float:right; height: 35px; width: 34px; background: url('img/iskosa.png') no-repeat 0 bottom; }
    /*.products-list .product-image { max-width: 100%; text-align: center; }*/
    .products-list .product-image img{ max-width: 90%; margin-top: 150px;}
    /*.products-list .swatch { margin-left: 0px; }*/

    .product-view .product-image #image{ max-width: 90%;}


    .product-view { display: table; margin:0 15px; }
    .product-view .col-md-2 { display:table-header-group }
    .product-view .col-md-7 { display:table-row-group;  }
    .product-view .col-md-3 { display: table-footer-group;text-align: center; }

    .product-view ul.configurable-swatch-color { text-align: center; display: inline; }
    .product-view ul.configurable-swatch-color li { float:none; display: inline-block; width: 17px; }
    ul.products-list .item { padding: 30px 0;}

    .product-view p.add-to .row:before { width: 0; height:0; background: transparent;  }
    .product-view p.add-to { margin-left:0; display: inline-block; }
    .product-view p.add-to .row:after { float:right; width: 34px; margin-right: -29px; height:33px; background: url('img/iskosa.png') no-repeat 0 bottom;  }
    .product-view p.add-to .btn-cart { padding:5px;}

    .account-login .buttons-set { height: auto; }
    .account-login button { margin-bottom: 15px; }
    .my-account { padding-bottom: 25px; }
    .cart
    #checkout-review-table-wrapper { border:0; }
    .table-responsive { border:0; }
    .cart ul.checkout-types { margin-left: 0px; }

    .opc-wrapper-opc dt { margin-right: 8.3% !important; }
    .opc-wrapper-opc dt.last { margin-right: 0 !important; }

    .sidebar .block-account { margin-left: 15px; }
    #newsmodal .form-w { width: 200px; }
}

@media (max-width: 830px ){
    .vert-link {  background:#3e4f5d; position:static; width: 100%; padding: 15px 0; margin-left: 0; transform: rotate(0deg);
        transform-origin: right,bottom;
        -ms-transform: rotate(0deg);
        -ms-transform-origin:right,bottom;
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin:right,botton; }
    .vert-link a { text-align: center; display: block; margin:0 15px; cursor: pointer; text-decoration: none; border: 1px solid #d4d8d7; color:#ffffff; padding: 5px; }
    .footer{ text-align: center; }
    .footer-block { border-bottom: 1px dotted #d4d8d7; padding: 25px 0; }
    .footer-block .title { display: none; }
    .footer-block.col-md-5 .title { display: block; margin: 0 0 25px; padding: 0px 0 25px; border-bottom: 1px dotted #d4d8d7; }
    .footer-block .preisse-text { border:0; }
    .navbar-default .navbar-toggle { border: 0; }
    .navbar-toggle .icon-bar { width: 40px; }

    .products-list .item .col-md-2{ position: absolute; top:65px; left: -10px; padding-bottom: 65px; }

}
@media (max-width: 768px){
    #newsmodal .modal-dialog { width: 100%; margin :0; }
}
@media (max-width: 648px){
    .opc-wrapper-opc .fields .field { width: 100%; margin-right:0; }
    .opc-wrapper-opc .payment-block dt {width: 100%;}
    .quick-access { margin-top: 40px; }
    .logo { width: 40px; margin-left: -45px; }
    .navbar-default { margin-top: 40px; }


}

@media (max-width:428px){
    ul.checkout-types { height: 130px; margin-bottom: 15px;}
    li.checkout-types { display:block; width: 100%; margin: 0; height: 65px; }
    ul.checkout-types button {width: 95%;}

}
@media ( min-width: 648px ){
    .logo { width: 160px; margin-left:-80px; }
    .navbar-default { margin-top: 90px; }
    .footer-block .title { display: block;  margin: 0 0 25px; padding: 0px 0 25px; border-bottom: 1px dotted #d4d8d7; }

   .quick-access{ margin-top: 90px; }

}

@media (min-width: 992px){
    .footer-block { border-bottom: 0; text-align: left; }
    .footer-block .title { border-bottom:0 !important; padding-bottom: 0; }
}

@media (min-width: 1200px){
    #newsmodal .modal-dialog { width: 900px; }
}

.shipping-fee-msg{
    display: none;
    margin-left: 10px;
}