<?php /* @var $this DHL_Intraship_Block_Adminhtml_Notifications */ ?>
<?php foreach ($this->getMessages() as $message): ?>
    <div class="notification-global">
        <span class="f-right">
            <img src="<?php echo $this->getSkinUrl('images/dhl/dhl_logo.png') ?>" alt="DHL Logo" height="16" style="vertical-align: middle"/>
        </span>
        <span><?php echo $this->__($message) ?></span>
    </div>
<?php endforeach; ?>
