<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
            </table>
            <p>Beste Grüße,<br />Dein Kurzzug-Team</p>
            <!--<h5 class="closing-text">Vielen Dank, {{var store.getFrontendName()}}!</h5>-->
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
