/*
Theme Name: Storyblog Child
Description: Child theme for the Storyblog WordPress theme
Author: Simrandeep Singh
Template: storyblog
*/

@import url("../storyblog/style.css");

@import url("//hello.myfonts.net/count/2e390a");

  
@font-face {font-family: 'RBNo21a-Bold';src: url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_0_0.eot');src: url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_0_0.eot?#iefix') format('embedded-opentype'),url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_0_0.woff2') format('woff2'),url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_0_0.woff') format('woff'),url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'RBNo21a-Book';src: url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_1_0.eot');src: url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_1_0.eot?#iefix') format('embedded-opentype'),url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_1_0.woff2') format('woff2'),url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_1_0.woff') format('woff'),url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'RBNo21a-Light';src: url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_2_0.eot');src: url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_2_0.eot?#iefix') format('embedded-opentype'),url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_2_0.woff2') format('woff2'),url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_2_0.woff') format('woff'),url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'RBNo21a-Medium';src: url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_3_0.eot');src: url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_3_0.eot?#iefix') format('embedded-opentype'),url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_3_0.woff2') format('woff2'),url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_3_0.woff') format('woff'),url('http://kurzzug.de/wp-blog/wp-content/themes/storyblog-child-theme/fonts/2E390A_3_0.ttf') format('truetype');}

/* Start Adding Your CSS Here */


body{background:#d4d8d7 !important; /*background:#d4d8d7 !important;*/}.main-navigation{background-color:#ffffff;}.main-nav .current-menu-parent > a, .main-nav .current-page-parent > a, .main-nav .current-menu-item > a, .main-nav a{color:#9b9b9b;}.main-nav .current-menu-parent > a, .main-nav .current-page-parent > a, .main-nav .current-menu-item > a, .main-nav a:hover{color:#000000;}.menu-btn{color:#000000;}.main-header{background-color:#ffffff;}.header #logo a{color:#000000;}.logo-wrap{margin-top:40px;margin-bottom:40px;}.main-navigation{margin-top:0;margin-bottom:0;}.single-title{color:#000000;}.page-title{color:#000000;}.footer, footer .widget-title span{background-color:#ffffff;}.footer a{color:#000000;}.footer a:hover{color:#ffbb33;}.footer-widget .widget-title{color:#000000;}.copyright{background-color:#ffffff;}.copyright{color:#2e2e2e;}body{font-family:RBNo21a-Light !important;font-weight:400;font-style:normal;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading body,{opacity: 0;}.ie.wf-loading body,{visibility: hidden;}.menu a{font-family:RBNo21a-Light !important;font-weight:500;font-style:normal;font-size:12px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .menu a,{opacity: 0;}.ie.wf-loading .menu a,{visibility: hidden;}h1,h2,h3,h4,h5,h6, .header, .widgettitle, .article-heading, .ws-title, .social-widget a, .post-navigation, #wp-calendar caption, .fn, #commentform input, #commentform textarea, input[type="submit"], .pagination, .footer-subscribe{font-family:RBNo21a-Light !important;font-weight:700;font-style:normal;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h1,h2,h3,h4,h5,h6, .header, .widgettitle, .article-heading, .ws-title, .social-widget a, .post-navigation, #wp-calendar caption, .fn, #commentform input, #commentform textarea, input[type="submit"], .pagination, .footer-subscribe,{opacity: 0;}.ie.wf-loading h1,h2,h3,h4,h5,h6, .header, .widgettitle, .article-heading, .ws-title, .social-widget a, .post-navigation, #wp-calendar caption, .fn, #commentform input, #commentform textarea, input[type="submit"], .pagination, .footer-subscribe,{visibility: hidden;}.entry-title{text-transform:uppercase;line-height:45px;font-size:42px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .entry-title,{opacity: 0;}.ie.wf-loading .entry-title,{visibility: hidden;}.single-title{font-family:RBNo21a-Light !important;text-transform:none;line-height:70px;font-weight:400;font-style:normal;font-size:64px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .single-title,{opacity: 0;}.ie.wf-loading .single-title,{visibility: hidden;}.post-content{font-family:RBNo21a-Light !important;line-height:32px;font-weight:300;font-style:normal;font-size:16px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .post-content,{opacity: 0;}.ie.wf-loading .post-content,{visibility: hidden;}.post-meta, .meta, .r-meta, .post-cats{font-family:RBNo21a-Light !important;line-height:20px;font-weight:400;font-style:normal;font-size:13px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .post-meta, .meta, .r-meta, .post-cats,{opacity: 0;}.ie.wf-loading .post-meta, .meta, .r-meta, .post-cats,{visibility: hidden;}.sidebar{font-family:RBNo21a-Light !important;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .sidebar,{opacity: 0;}.ie.wf-loading .sidebar,{visibility: hidden;}.widget-title, #tabs li, .section-heading, .comment-reply-link, .post-navigation .post-nav-links span{font-family:RBNo21a-Light !important;line-height:21px;font-weight:700;font-style:normal;font-size:15px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .widget-title, #tabs li, .section-heading, .comment-reply-link, .post-navigation .post-nav-links span,{opacity: 0;}
.ie.wf-loading .widget-title, #tabs li, .section-heading, .comment-reply-link, .post-navigation .post-nav-links span,{visibility: hidden;}
.header #logo a, .footer-logo-wrap{font-family:RBNo21a-Light !important;
line-height:38px;font-weight:700;font-style:normal;font-size:28px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .header #logo a, .footer-logo-wrap,{opacity: 0;}.ie.wf-loading .header #logo a, .footer-logo-wrap,{visibility: hidden;}

.footer, .copyright, .main-content, .header, .main-navigation, .breadcrumbs
{
	background:#d4d8d7 !important;
}

#comment
{
	background:white !important;
}

.post-grid
{
	background:#3e4f5d !important;
	
	border-bottom: 0px solid #fff !important;
}

#main_link
{
	color:#3e4f5d !important;
	margin-left:20px;
	font-size:20px;
	text-transform: none;
}

.category-title span
{
	    border-bottom: 2px solid #efefef;
}

#author, #email, #url
{
	background:white !important;
}

#submit
{
	color:black !important;
}

#submit:hover
{
	color:white !important;
}

.reading-progress
{
	background:transparent;
}

progress
{
	color:transparent;
}

.header
{
	max-width:100% !important;
}

#sidebar
{
	margin-top:0px;
}

#commentform .comment-form-author, #commentform .comment-form-email, #commentform .comment-form-url {
	
	z-index:100;
	
}



